<div class="am-wrapper wrapperClass am-fixed-sidebar">
    <div  class="menuBar am-white-header admin-header">

<!-- Top Header content -->
      <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="">
          <div class="navbar-header">
            <a ui-sref="home" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a><a ui-sref="home" class="navbar-brand"></a>
          </div>
          <a data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
          <div id="am-navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right am-user-nav">


              <li class="dropdown " >
               <a data-toggle="dropdown"  role="button" aria-expanded="false" class="dropdown-toggle">
                <!-- <span class="icon s7-bell"  style="font-size:1.2em"><sup>{{notificationunreadCount}}</sup></span>  -->
                <span class="icon s7-bell"  style="font-size:1.2em"></span><span class="myIndicator" ng-show="notificationunreadCount > 0"></span> 
               </a>
                <ul role="menu" class="dropdown-menu menu-notifications">
                  <li ng-repeat="note in notificationsUnread">
                  <a>
                    
                      <div class="user-content"> 
                      <span  ng-init="imgNote=note.notificationActivity">
                      <img ng-src="img/notification/{{imgNote}}.png">
                    </span>
                      {{note.notificationMessage ? note.notificationMessage : 'No notifications found'}}
                      </div>
                    </a>
                  </li>
              <li><hr> <div class="footer col-sm-offset-4"  style="padding-bottom:20px;cursor:pointer"> <a ng-click="goNotify()"> View all notifications</a></div></li>
                </ul>
              </li>


        

             <!--  <li class="dropdown open"><a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="dropdown-toggle"><span class="icon s7-bell"></span><span class="indicator"></span></a>
                <ul class="dropdown-menu am-notifications">
                  <li>
                    <div class="title">Notifications<span class="badge">3</span></div>
                    <div class="list">
                      <div class="am-scroller nano has-scrollbar">
                        <div class="content nano-content" style="right: -23px;">
                          <ul>
                            <li class="active"><a href="#">
                                <div class="logo"><span class="icon s7-pin"></span></div>
                                <div class="user-content"><span class="circle"></span><span class="name">Jessica Caruso</span><span class="text-content"> accepted your invitation to join the team.</span><span class="date">2 min ago</span></div></a></li>
                            <li><a href="#">
                                <div class="logo"><span class="icon s7-add-user"></span></div>
                                <div class="user-content"><span class="name">Joel King</span><span class="text-content"> is now following you</span><span class="date">2 days ago</span></div></a></li>
                            <li><a href="#">
                                <div class="logo"><span class="icon s7-gleam"></span></div>
                                <div class="user-content"><span class="name">Claire Sassu</span><span class="text-content"> is watching your main repository</span><span class="date">2 days ago</span></div></a></li>
                            <li><a href="#">
                                <div class="logo"><span class="icon s7-add-user"></span></div>
                                <div class="user-content"><span class="name">Emily Carter</span><span class="text-content"> is now following you</span><span class="date">5 days ago</span></div></a></li>
                          </ul>
                        </div>
                      <div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 153px; transform: translate(0px, 0px);"></div></div></div>
                    </div>
                    <div class="footer"> <a href="#">View all notifications</a></div>
                  </li>
                </ul>
              </li> -->

             


              <li class="dropdown pull-right">
               <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                <span class="user-name">{{user.firstname ? user.firstname : 'USER'}}</span> <span class="angle-down s7-angle-down"></span> 
               </a>
                <ul role="menu" class="dropdown-menu"><!-- 
                  <li><a> <span class="icon s7-user"></span>My profile</a></li>
                  <li><a><span class="icon s7-config"></span>Settings</a></li>
                  <li><a> <span class="icon s7-help1"></span>Help</a></li> -->
                  <li><a ng-click="goProfile()"> <span class="icon s7-user"></span>My Profile</a></li>
                  <li><a ng-click="gochangePwd()"> <span class="icon s7-user"></span>Change Password</a></li>
                  <li><a ng-click="logOutUser()"> <span class="icon s7-power"></span>Sign Out</a></li>

                </ul>
              </li>

            </ul>
          </div>
        </div>
      </nav> 
<!-- Top Header content -->

<!-- Admin side-menu content -->
    <div class="am-left-sidebar" style="padding-bottom:0;">
      <div class="am-scroller nano has-scrollbar">
        <div class="content nano-content">
          <div class="am-logo"></div>
          <ul class="sidebar-elements" >
             <li ng-class="{'header-active parent': activetab=='/chome'}"> <a  ng-click="goConsumer()"><i class="icon s7-home"></i><span>HOME</span></a></li>

            <li ng-class="{'header-active parent': activetab=='/profile'}"><a  ng-click="goProfile()"><i class="icon s7-user"></i><span>MY PROFILE</span></a>              
            </li>

            <li ng-class="{'header-active parent': activetab=='/bypins'}"><a  ng-click="goByMe()"><i class="icon s7-ribbon"></i><span>PINS BY ME</span></a>             
            </li>

            <li ng-class="{'header-active parent': activetab=='/forpins'}"><a ng-click="goForMe()"><i class="icon s7-ribbon"></i><span>PINS FOR ME</span></a>             
            </li>
            <li ng-class="{'header-active parent': activetab=='/home'}"><a   ng-click="goHome()"><i class="icon s7-users"></i><span>EMPLOYEES</span></a>              
            </li>


            <li ng-class="{'header-active parent': activetab=='/objective'}"><a   ng-click="goObj()"><i class="icon s7-note2"></i><span>OBJECTIVES</span></a>             
            </li>

            <li ng-class="{'header-active parent': activetab=='/ratings'}"><a   ng-click="goRate()"><i class="icon s7-pin"></i><span>RATINGS</span></a>            
            </li>

            <li ng-class="{'header-active parent': activetab=='/tags'}"><a  ng-click="goTags()"><i class="icon s7-ticket"></i><span>TAGS</span></a>              
            </li>
<!-- 
            <li ng-class="{'header-active parent': activetab=='/report'}"><a ui-sref="report"  ng-click="goReport()"><i class="icon s7-graph2"></i><span>REPORTS</span></a>              
            </li>
             -->


            <!-- <li ng-class="{'header-active parent': activetab=='/settings'}"><a ui-sref="settings"  ng-click="goSettings()"><i class="icon s7-config"></i><span>SETTINGS</span></a>             
            </li> -->
           <!--  <hr/> -->
            <!-- <li ng-class="{'header-active parent parent-consumer': activetab=='/chome'}"> <a ui-sref="chome"  ui-sref-opts="{reload: true, notify: true}"><i class="icon s7-home"></i><span>Consumer</span></a></li> -->
           
            <li ng-class="{'header-active parent': activetab=='/notifications'}"><a  ng-click="goNotify()"><i class="icon s7-bell"></i><span>NOTIFICATIONS</span></a>            
            </li>
            <li ng-class="{'header-active parent': activetab=='/settings'}"><a  ng-click="goSettings()"><i class="icon s7-config"></i><span>SETTINGS</span></a>             
            </li>
          <!--   <li ng-class="{'header-active parent': activetab=='/export'}"><a ui-sref="export"  ng-click="goExport()"><i class="icon s7-news-paper"></i><span>EXPORT HISTORY</span></a>            
            </li>
 -->

            

           <!--  <li ng-class="{'header-active parent': activetab=='/charts'}"><a ui-sref="charts" ng-click="goCharts()"><i class="icon s7-graph2"></i><span>CHARTS</span></a>              
            </li> -->

          </ul>
        </div>
        </div>
      </div>
<!-- Admin side-menu content end -->
    </div>
  
</div>  
 
