

          <div id="am-navbar-collapse" class="collapse navbar-collapse filter-emp">
            <ul class="nav navbar-nav am-user-nav">
              <li class="dropdown">
               <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                <span class="user-name">Filter Employees</span> <span class="angle-down s7-angle-down"></span>
               </a>
                <ul role="menu" class="dropdown-menu">
                  <li>All</li>
                  <li>De-activated</li>
                </ul>
              </li>
            </ul>
          </div>   



                <div class="search-section">
                    <div class="input-group xs-mb-15">
                        <input type="search" class="form-control" ng-model="search"><span class="input-group-addon"><span class="icon s7-search"></span></span>
                    </div>
                
                </div>

                <div class="name-section">
                  <ul class="emp-list">
                    <li class="row xs-mb-15" ng-repeat="emp in employeeList | filter:search">
                      <div class="user-img col-md-3 col-sm-4 col-xs-3"> <img src="img/avatar4.jpg"></div>

                      
                      <div class="user-info col-md-8 col-sm-8 col-xs-9">
                        <p class="title">{{emp.name}}</p>
                        <p class="sub-title">{{emp.designation}} <br/> {{emp.location}}  <button class="btn btn-primary pull-right" style="margin-top:-5%;"> Pin </button>
</p>
                      </div>

                    </li>


                  </ul>
                </div>    