    <div ng-controller="LoginCtrl">
     <!--<div ng-include src="'partials/AdminHeader.html'"  onload="navDetails()"></div>-->
     <ng-include src="getPartial()"></ng-include>

    

<div class="main-content am-content change-password">
  <!--<div ng-include src="'partials/breadcrum.html'"></div> -->
    <div class="page-head">
      <div class="page-title">
        <h3>Change Password</h3> 
      </div>
    </div>
    
    <!--first part-->
    <div class="panel panel-default">
      <!-- second part -->
      <section class="col-sm-12">

      <div class="panel-body">
        <form method="get" class="form-horizontal" name="form_resetPassword">
          <div class="changePwd-form">
            <div class="form-group">

                <label class="col-sm-3 control-label">Old Password <span class="errorSpan" ng-show="form_resetPassword.oldPassword.$error.required && form_resetPassword.oldPassword.$invalid"> * </span>
                </label>
                      
                <div class="col-sm-6">
                    <input type="password" ng-model="req.oldPassword" ng-minlength="6" class="form-control" style="" name="oldPassword" placeholder="Old Password" id="" ng-change="formSubmit3();" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">New Password <span class="errorSpan" ng-show="form_resetPassword.inputPassword.$error.required && form_resetPassword.inputPassword.$invalid"> * </span>
                </label>
                      
                <div class="col-sm-6">
                    <input type="password" ng-model="req.password" ng-minlength="6" class="form-control" style="" name="inputPassword" placeholder="Password" id="" ng-change="formSubmit1();" required>
                </div>
                <span class="errorSpan" ng-show="form_resetPassword.req.password.$dirty && form_resetPassword.req.password.$invalid">
                    Password should have more than 5 characters.
                </span>

                 <!-- <span class="errorSpan" ng-show="form_resetPassword.inputPassword.$error.required && clickedBtn"> This field is compulsary</span> -->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Confirm Password <span class="errorSpan" ng-show="form_resetPassword.r_password.$error.required && form_resetPassword.r_password.$invalid"> * </span>

                </label>
                       
                <div class="col-sm-6">
                  <input type="password" ng-model="req.confPassword" class="form-control" style=""  name="r_password" placeholder="Confirm"  ng-change="formSubmit();" required>
                </div>

                <span class="errorSpan" ng-show="form_resetPassword.req.confPassword.$dirty || (req.password != req.confPassword)">
                    Password doesn't match.
                </span>
<!-- 
                <span class="errorSpan" ng-show="form_resetPassword.r_password.$error.required"> This field is compulsary
                </span> -->

            </div>
                    

            <div class="form-group login-submit">
              <div class="col-sm-12 col-sm-offset-5">
                <button type="submit" class="btn btn-primary" ng-disabled="form_resetPassword.$invalid" ng-click="changePwd()">Reset Password</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      </section>
    </div>
      
</div>
</div>
