
<!-- <ng-include src="getPartial()"></ng-include> -->
<style type="text/css">
body{
padding:0px;
margin:0px;
width:50% !important;
height:50% !important;
margin: 0 !important;
padding: 0 !important;
}
</style>
<!-- chart script -->

    <div class="charts-page" style="padding:0px !important">
      <div class="panel" style="padding:0px !important">
        <section class="row" style="padding:0px !important;width:200px" >
          <div class="panel-body" style="padding:0px !important">
            <div style="padding:0px !important;margin:0px;margin-top:-20px;">
              <div class="charts-section" style="padding:0px !important;margin:0px">
                <div class="panel-body" style="padding:0px !important">
                  <div id="chart_div" style="padding:0px !important;margin:0px"></div>
                </div>
              </div>
            </div>  <!-- row -->
          </div><!-- panel body -->

        </section><!-- section -->
      </div>
    </div>
