    <div ng-controller="LoginCtrl">
     <!--<div ng-include src="'partials/AdminHeader.html'"  onload="navDetails()"></div>-->
     <ng-include src="getPartial()"></ng-include>

<!-- chart script -->
  <script type="text/javascript">
/*      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Weight'],
          [ 8,      2],
          [ 4,      5.5],
          [ 11,     1],
          [ 4,      5],
          [ 3,      3.5],
          [ 6,    7]
        ]);

        var options = {
          title: 'Age vs. Weight comparison',
          hAxis: {title: 'Age', minValue: 0, maxValue: 15},
          vAxis: {title: 'Weight', minValue: 0, maxValue: 15},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }*/

    </script>
 


<!-- chart script -->
    

<div class="am-content charts-page">
        <!--<div ng-include src="'partials/breadcrum.html'"></div> -->
        <div class="page-head">
          <div class="page-title">
            <h3>Charts</h3> 
          </div>
        </div>
    
          <!--first part-->
          <div class="panel panel-default">
            <section class="col-sm-4" style="background-color:#fff; padding:0;">


                <div class="search-section">
                    <div class="input-group xs-mb-15">
                        <input type="search" class="form-control" ng-model="search"><span class="input-group-addon"><span class="icon s7-search"></span></span>
                    </div>
                
                </div>

                <div class="name-section">
                  <ul class="emp-list">
                    <li id="list{{emp.id}}" style="margin-left:0" ng-repeat="emp in allEmpList | filter:search"  ng-click="select($index,emp)" ng-class="{'classSelected active': $index == selected}">
                      <div class="user-img col-md-3 col-sm-4 col-xs-3"> <img ng-src="{{emp.profile_image ? emp.profile_image : 'img/avatar4.jpg'}}"></div>

                      
                      <div class="user-info col-md-9 col-sm-9 col-xs-9">
                        <p class="title">{{emp.firstname ? emp.firstname:'--' | capitalize}} {{emp.lastname ? emp.lastname:'--' | capitalize}}</p>
                        <p class="sub-title">{{emp.department ? emp.department:'--' | capitalize}} <br/> {{emp.location ? emp.location:'--' | capitalize}}  <button class="btn btn-primary add-pin-btn pull-right" ng-click="addPin();getMagicAPI(emp.id)"> Pin </button></p>
                      </div>
                    </li>
                  </ul>
                </div>              
            </section>

            <!-- second part -->


            <section class="col-sm-8">
                <div class="panel-body">
                  <section class="row page-head" style="border-bottom:none;padding-left: 2%;">
                    <div class="col-sm-4 profile-img profile-img-consumer" style="background-image:url({{selDisplay.profile_image ? selDisplay.profile_image : 'img/avatar4.jpg'}});height:10em;"></div>
                    <div class="col-sm-7 col-sm-offset-1 writ-section">
                        <div class="row">
                          <label class="col-sm-4 sub-title">Name</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.firstname ? selDisplay.firstname:'NAME' | capitalize}} {{selDisplay.lastname ? selDisplay.lastname:'NAME' | capitalize}}</p>
                          </div>
                         </div>

                         <div class="row">
                          <label class="col-sm-4 sub-title">Department</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.department ? selDisplay.department:'DEPARTMENT' | capitalize}} </p>
                          </div>
                        </div>

                        <div class="row">
                          <label class="col-sm-4 sub-title">Employee ID</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.employee_id ? selDisplay.employee_id:'ID'}} </p>
                          </div>
                        </div>

                        <div class="row">
                          <label class="col-sm-4 sub-title">Location</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.location ? selDisplay.location:'LOCATION' | capitalize}}</p>
                          </div>
                        </div>


                        <div class="row" ng-show="selDisplay.id != user.id">
                          <label class="col-sm-4 sub-title">Relationship</label>
                          <div class="col-sm-8" ng-show="!editMode">
                            <p class="title" > {{selDisplay.rel_role_description ? selDisplay.rel_role_description : 'relationship' | capitalize}}</p>

                            <button class="btn btn-primary btn-edit" ng-click="editMode = true;getMagicAPI(selDisplay.id)"><i class="icon s7-pen pull-right"></i></button>
                          </div>


                          <div class="col-sm-8" ng-show="editMode">

                            <select id="editedVal" class="form-control">
                              <option ng-repeat="editR in editRelationsList" ng-model="selDisplay.editedRel" value="{{editR.id}}">{{editR.description}}</option>
                            </select>

                            <button class="btn btn-primary btn-close" ng-click="editMode = false"><i class="icon s7-close pull-right"></i></button>

                            <button class="btn btn-primary btn-check" ng-click="updateUserRel(editR)"><i class="icon s7-check pull-right"></i></button>

                          </div>
                        </div>

                    </div>
                  </section>
                   
                
<div class="row" style="margin-top:2%;">
<!-- <button class="btn btn-primary pull-right" ng-click="getCharts()">Show Charts</button> -->


<div class="charts-section" ng-show="!openPinWizard">
  <div class="panel-body">
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </div>
</div>
  

  <div class="wizard-section" style="margin:2%;" ng-show="openPinWizard">
    <div class="fuelux">
      <div class="block-wizard panel-default">
        <div class="pin-blockwizard" >
          <div id="wizard1" class="wizard wizard-ux">
            <ul class="steps">
                <li class="{{activePart == 'step1' ? 'complete active':''}}">Relationship<span class="chevron"></span></li>
                <li class="{{activePart == 'step2' ? 'complete active':''}}">Tags<span class="chevron"></span></li>
                <li class="{{activePart == 'step3' ? 'complete active':''}}">Objectives<span class="chevron"></span></li>
                <li class="{{activePart == 'step4' ? 'complete active':''}}">Event<span class="chevron"></span></li>
                <li class="{{activePart == 'step5' ? 'complete active':''}}">Ratings<span class="chevron"></span></li>
                <li class="{{activePart == 'step6' ? 'complete active':''}}">Preview<span class="chevron"></span></li>
            </ul>

            <div class="step-content" >
              <div ng-show="activePart == 'step1'" class="step-pane active">
                <form id="pinForm1" name="addPinForm1" class="form-horizontal group-border-dashed" role="form">
                  <!-- <div class="scroll"> -->
                  <div class="form-group no-padding" >
                    <div class="col-sm-7">
                      <h3 class="wizard-title">Define Relation</h3>
                      <p class="sub-title" ng-show="!hasRelation">Please define relation to PIN employees</p>
                      <p class="sub-title" ng-show="hasRelation">
                       Your current relationship with {{selDisplay.firstname}} {{selDisplay.lastname}} is of
                       <span style="color:#000; text-transform: uppercase;">    {{userRelationship.user2_rel_role_description}}</span></p>
                    </div>
                  </div>
                          
                  <div class="scroll">
<!--                     <div class="form-group" ng-show="hasRelation">
                      <div class="col-sm-6">
                        <div class="" ng-repeat = "editR in editRelationsList">
                          <input type="radio" name="rad1" id="rad{{editR.id}}" ng-model="save.pinneeRelationship" ng-required="true" value="{{editR.id}}">
                          <label for="rad{{editR.id}}">{{editR.description}}</label>
                        </div>

                      </div>
                    </div> -->

                    <div class="form-group">
                      <div class="col-sm-6">
                      
                        <div class="" ng-repeat = "editR in editRelationsList">
                          <input type="radio" name="rad1" id="rad{{editR.description}}" ng-model="save.pinneeRelationship" ng-required="true" value="{{editR.id}}">
                          <label for="rad{{editR.description}}">{{editR.description}}</label>

                        </div>
                      </div>

                    </div>
                  </div>
                      
                  <div class="form-group text-center">
                    <div class="btn-block">
                      <div class="col-sm-6">
                        <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
                        <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm1.$invalid" ng-click="showNextStep('step2')">Next</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div ng-show="activePart == 'step2'" class="step-pane">
                <form id="pinForm2" name="addPinForm2" class="form-horizontal group-border-dashed">
                  <div class="form-group no-padding">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">Pick Tags</h3>
                      <p class="sub-title">Pick relevant tags for useful review process</p>
                    </div>
                  </div>
                          
                  <div class="scroll">
                    <div class="form-group row">
                      
                        <div class="col-sm-6" ng-repeat="tag in allTags">
                          <div class="am-checkbox">
                            <input type="checkbox" class="Checkbox" name="{{tag.id}}" id="{{tag.id}}" ng-required="true" value="{{tag.id}}">
                            <label for="{{tag.id}}">{{tag.tagTitle}}</label>
                          </div>
                        </div>    
                    </div>
                  </div>
                      
                  <div class="form-group text-center">
                    <div class="btn-block">
                      <div class="col-sm-6">
                        <button class="btn btn-default col-sm-3" ng-click="showNextStep('step1');">Previous</button>
                        <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm2.$invalid" ng-click="showNextStep('step3');getRelatedObj()" id="check-button">Next</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div ng-show="activePart == 'step3'" class="step-pane">
                <form id="pinForm3" name="addPinForm3" class="form-horizontal group-border-dashed">
                  <div class="form-group no-padding">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">Select Objectives</h3>
                    </div>
                  </div>
                  <div class="scroll">
                    <div class="form-group">
                      <div class="col-sm-6">

                      <div class="" ng-repeat="obj in allObj" ng-show="foundObj">
                        <input type="radio" name="{{obj.id}}" id="{{obj.id}}" ng-model="save.objective" ng-required="true" value="{{obj.id}}" class="objktive">
                        <label for="{{obj.id}}">{{obj.title}}</label>
                      </div> 

                      <div ng-hide="foundObj">
                        <p>Objectives related with previously selected tags are not found.</p>
                        <p>Please select another or continue.</p>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                <div class="btn-block">
                  <div class="col-sm-6">
                    <button class="btn btn-default col-sm-3" ng-click="showNextStep('step2');">Previous</button>
                    <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step4');">Next</button>
                  </div>
                </div>
                </div>
                </form>
              </div>

              <div ng-show="activePart == 'step4'" class="step-pane">
                <form id="pinForm4" name="addPinForm4" class="form-horizontal group-border-dashed">
                  <div class="form-group no-padding">
                  <div class="col-sm-7">
                    <h3 class="wizard-title">Event Name</h3>
                  </div>
                  </div>
                  <div class="scroll">
                    <div class="form-group">
                      <label class="col-sm-2">Event : </label>
                        <div class="col-sm-6">
                          <input type="text" name="eventname" id="eventname" ng-model="save.event" ng-required="true" class="form-control"> 
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2">Date : </label>
                        <div class="col-sm-6">
                          <div data-min-view="2" data-date-format="yyyy-mm-dd hh-mm-ss" class="input-group date datetimepicker" id="startDate">
                            <input ng-model="save.pinDate" type="text" value="" ng-required="true" class="form-control" ><span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2">Comments : </label>
                        <div class="col-sm-6">
                          <textarea  name="comments" id="comments" ng-model="save.comment" ng-required="true" class="form-control" maxlength="255"> </textarea>
                        </div>
                    </div>
                  </div>

                    <div class="form-group text-center">
                      <div class="btn-block">
                      <div class="col-sm-6">
                        <button class="btn btn-default col-sm-3" ng-click="showNextStep('step3');">Previous</button>
                        <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step5');">Next</button>
                      </div>
                      </div>
                    </div>
                </form>
              </div>

                      
              <div ng-show="activePart == 'step5'" class="step-pane">
                <form id="pinForm5" name="addPinForm5" class="form-horizontal group-border-dashed">
                  <div class="form-group no-padding">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">Add Ratings</h3>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <div class="row">
                        <slider ng-model="slider1.val" min="slider1.min" max="slider1.max" step="slider1.step" ></slider>
                      </div>

                      <div class="row" style="padding-top:2%">
                        <label class="col-sm-3">Rating value: </label>
                          <div class="col-sm-3">
                            <p>{{slider1.val}}</p>
                            <input type="number" id="ratingTextValue" value="{{slider1.val + 10}}">
                          </div>
                      </div>
                    </div>
                  </div>
                          
                  <div class="form-group text-center">
                        <div class="btn-block">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step4');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm5.$invalid" ng-click="showNextStep('step6');showPreview()">Preview</button>
                          </div>
                        </div>
                  </div>

                </form>
              </div>

              <div ng-show="activePart == 'step6'" class="step-pane">
                <form id="pinForm6" name="addPinForm6" class="form-horizontal group-border-dashed">
                  <div class="form-group no-padding">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">Preview</h3>
                    </div>
                  </div>
                 <div class="form-group">
                    <div class="col-sm-10">
                      <!-- <p class="title">Relationship : <span class="sub-title">{{editR.description}}</span></p> -->

                      <p class="title">Tags : <span class="sub-title">{{tagsForDisplay}}</span></p>

                      <p class="title">Objectives : <span class="sub-title">{{objForDisplay}}</span></p>

                      <p class="title">Event : <span class="sub-title">{{save.event}}</span></p>

                      <p class="title">Comment : <span class="sub-title">{{save.comment}}</span></p>

                      <p class="title">Rating : <span class="sub-title">{{slider1.val}}</span></p>

                    </div>
                  </div> 
                          
                   <div class="form-group text-center">
                        <div class="btn-block">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm7.$invalid" ng-click="savePin();">Add Pin</button>
                          </div>
                        </div>
                  </div> 

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>  <!-- rorw -->
                </div><!-- panel body -->
            </section><!-- section -->
          </div>
      
</div>
</div>

