    <div ng-controller="LoginCtrl">
    <ng-include src="getPartial()" onload="navDetails()"></ng-include>
<style type="text/css">
  li.active {
    color: red;
}
</style>
    

<div class="am-content consumer-home-page">
        <!--<div ng-include src="'partials/breadcrum.html'"></div> -->
        <div class="page-head">
          <div class="page-title">
            <h3>Home</h3> 
          </div>
        </div>
          <!--first part-->
          <div class="panel panel-default">
            <section class="col-sm-4" style="background-color:#fff; padding:0;">




                <div class="search-section">
                    <div class="input-group xs-mb-15">
                        <input type="search" class="form-control" ng-model="search"><span class="input-group-addon"><span class="icon s7-search"></span></span>
                    </div>
                
                </div>

                <div class="name-section">
                <ul class="emp-list">
                    <li id="list{{emp.id}}" style="margin-left:0" ng-repeat="emp in allEmpList | filter:search"  ng-click="select($index,emp)" ng-class="{'classSelected active': $index == selected}">
                      <div class="user-img col-md-3 col-sm-4 col-xs-3"> <img src="img/avatar4.jpg"></div>

                      
                      <div class="user-info col-md-8 col-sm-8 col-xs-9">
                        <p class="title">{{emp.firstname ? emp.firstname:'--' | capitalize}} {{emp.lastname ? emp.lastname:'--' | capitalize}}</p>
                        <p class="sub-title">{{emp.department ? emp.department:'--' | capitalize}} <br/> {{emp.location ? emp.location:'--' | capitalize}}  <button class="btn btn-primary add-pin-btn pull-right" ng-click="addPin()"> Pin </button></p>
                      </div>
                    </li>
                </ul>

                </div>              
            </section>

            <!-- second part -->


            <section class="col-sm-8" id="section2">
                <div class="panel-body">
                  <section class="row page-head" style="border-bottom:none;padding-left: 2%;">
                    <div class="col-sm-4 profile-img profile-img-consumer"></div>
                    <div class="col-sm-7 col-sm-offset-1 writ-section">
                        <div class="row">
                          <label class="col-sm-4 sub-title">Name</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.firstname ? selDisplay.firstname:'NAME' | capitalize}} {{selDisplay.lastname ? selDisplay.lastname:'NAME' | capitalize}}</p>
                          </div>
                         </div>

                         <div class="row">
                          <label class="col-sm-4 sub-title">Department</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.department ? selDisplay.department:'DEPARTMENT' | capitalize}} </p>
                          </div>
                        </div>

                        <div class="row">
                          <label class="col-sm-4 sub-title">Employee ID</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.employee_id ? selDisplay.employee_id:'ID'}} </p>
                          </div>
                        </div>

                        <!--commented because decided against it <div class="row">
                          <label class="col-sm-4 sub-title">Relationship</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.relation ? selDisplay.relation:'RELATION'}} </p>
                          </div>
                        </div> -->

                        <div class="row">
                          <label class="col-sm-4 sub-title">Location</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.location ? selDisplay.location:'LOCATION' | capitalize}}</p>
                          </div>
                        </div>
                    </div>
                  </section>
                   
                
<div class="row">

<div class="tab-container" ng-show="!openPinWizard">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-target="#performance" data-toggle="tab">PERFORMANCE</a>
    </li>
    <li>
      <a data-target="#pinhistory" data-toggle="tab">PIN HISTORY</a>
    </li>
  </ul>
  <div class="tab-content">

    <div id="performance" class="tab-pane active cont">
      <p> Consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
    </div>

    <div id="pinhistory" class="tab-pane cont">
      <h4><b>{{date | date:'LLLL, dd'}}</b></h4>
      <div class="row summary-section">
         <div class="box col-sm-5">
            <div class="box-header">
              <p class="title">Customer Focus <span class="pull-right">Pin date</span></p>
            </div>

            <div class="box-content">
              <p class="title">Sales meeting</p>
              <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia</p>
            </div>

            <div class="box-footer">
              <p class="title">Satisfactory</p>
            </div>
         </div> 

         <div class="box col-sm-5">
            <div class="box-header">
              <p class="title">Customer Focus <span class="pull-right">Pin date</span></p>
            </div>

            <div class="box-content">
              <p class="title">Sales meeting</p>
              <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia</p>
            </div>

            <div class="box-footer">
              <p class="title">Satisfactory</p>
            </div>
         </div> 

      </div>
                        
    </div>
</div>
</div>


<!-- <div class="wizard-section" style="margin:2%;">
    <div class="fuelux" ng-show="openPinWizard">
        <div class="block-wizard panel-default">
            <div id="wizard1" class="wizard wizard-ux">
                <ul class="steps">
                    <li class="{{activePart == 'step1' ? 'complete active':''}}" ng-disabled="addPinForm1.$invalid" ng-click="showNextStep('step1');">Relationship<span class="chevron"></span></li>
                    <li class="{{activePart == 'step2' ? 'complete active':''}}" ng-disabled="addPinForm2.$invalid" ng-click="showNextStep('step2');">Tags<span class="chevron"></span></li>
                    <li class="{{activePart == 'step3' ? 'complete active':''}}"
                    ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step3');">Objectives<span class="chevron"></span></li>
                    <li class="{{activePart == 'step4' ? 'complete active':''}}"
                    ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step4');">Event<span class="chevron"></span></li>
                    <li class="{{activePart == 'step5' ? 'complete active':''}}" ng-disabled="addPinForm5.$invalid" ng-click="showNextStep('step5');">Ratings<span class="chevron"></span></li>
                    <li class="{{activePart == 'step6' ? 'complete active':''}}" ng-disabled="addPinForm6.$invalid" ng-click="showNextStep('step6');">Comments<span class="chevron"></span></li>
                </ul>

                <div class="step-content">
                    <div ng-show="activePart == 'step1'" class="step-pane active">
                      <form id="pinForm1" name="addPinForm1" class="form-horizontal group-border-dashed" role="form">
                        <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Define Relation</h3>
                            <p class="sub-title">Please define relation to PIN employees</p>
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <div class="col-sm-6">
                            
                            <div class="am-radio">
                              <input type="radio" name="rad1" id="rad1" ng-model="rad1" ng-required="true" value="rad1">
                              <label for="rad1">Option 1</label>
                            </div>
                            <div class="am-radio">
                              <input type="radio" name="rad1" id="rad2" ng-model="rad1" ng-required="true" value="rad2">
                              <label for="rad2">Option 3</label>
                            </div>
                            <div class="am-radio">
                              <input type="radio" name="rad1" id="rad3" ng-model="rad1" ng-required="true" value="rad3">
                              <label for="rad3">Option 3</label>
                            </div>
                            <div class="am-radio">
                              <input type="radio" name="rad1" id="rad4" ng-model="rad1" ng-required="true" value="rad4">
                              <label for="rad4">Option 4</label>
                            </div>
                          </div>
                        </div>
                    
                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm1.$invalid" ng-click="showNextStep('step2');">Next</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div ng-show="activePart == 'step2'" class="step-pane">
                      <form id="pinForm2" name="addPinForm2" class="form-horizontal group-border-dashed">
                        <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Pick Tags</h3>
                            <p class="sub-title">Pick relevant tags for useful review process</p>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <div class="col-sm-6">
                            
                            <div class="am-checkbox">
                              <input type="checkbox" name="sales" id="sales" ng-model="sales" ng-required="true" value="sales">
                              <label for="sales">Sales</label>
                            </div>
                           <div class="am-checkbox">
                              <input type="checkbox" name="mkt" id="mkt" ng-model="mkt" ng-required="true" value="mkt">
                              <label for="mkt">Marketing</label>
                            </div>
                            <div class="am-checkbox">
                              <input type="checkbox" name="cspt" id="cspt" ng-model="cspt" ng-required="true" value="cspt">
                              <label for="cspt">Customer Support</label>
                            </div>
                            <div class="am-checkbox">
                              <input type="checkbox" name="pstf" id="pstf" ng-model="pstf" ng-required="true" value="pstf">
                              <label for="pstf">Professional Staff</label>
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="am-checkbox">
                              <input type="checkbox" name="mgmt" id="mgmt" ng-model="mgmt" ng-required="true" value="mgmt">
                              <label for="mgmt">Management</label>
                            </div>
                           <div class="am-checkbox">
                              <input type="checkbox" name="cstf" id="cstf" ng-model="cstf" ng-required="true" value="cstf">
                              <label for="cstf">Clerical Staff</label>
                            </div>
                            <div class="am-checkbox">
                              <input type="checkbox" name="gnr" id="gnr" ng-model="gnr" ng-required="true" value="gnr">
                              <label for="gnr">Generic</label>
                            </div>
                          </div>

                        </div>
                    
                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step1');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm2.$invalid" ng-click="showNextStep('step3');">Next</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div ng-show="activePart == 'step3'" class="step-pane">
                      <form id="pinForm3" name="addPinForm3" class="form-horizontal group-border-dashed">
                          <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Select Objectives</h3>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-6">
                            <div class="am-radio">
                              <input type="radio" name="obj1" id="obj1" ng-model="obj1" ng-required="true" value="obj1">
                              <label for="obj1">Objective 1</label>
                            </div> 
                             <div class="am-radio">
                              <input type="radio" name="obj2" id="obj2" ng-model="obj1" value="obj2">
                              <label for="obj1">Objective 2</label>
                            </div> 
                          </div>
                        </div>
                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step3');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step4');">Next</button>
                          </div>
                        </div>

                      </form>
                    </div>

                    <div ng-show="activePart == 'step4'" class="step-pane">
                      <form id="pinForm4" name="addPinForm4" class="form-horizontal group-border-dashed">
                        <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Event Name</h3>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2">Event : </label>
                          <div class="col-sm-6">
                            <input type="text" name="eventname" id="eventname" ng-model="eventname" ng-required="true" class="form-control"> 
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2">Date : </label>
                          <div class="col-sm-6">
                            <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker" id="startDate">
                              <input ng-model="eventDate" type="text" value="" class="form-control"><span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
                            </div> 
                          </div>
                        </div>

                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step2');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step5');">Next</button>
                          </div>
                        </div>

                      </form>
                    </div>

                    <div ng-show="activePart == 'step5'" class="step-pane">
                      <form id="pinForm5" name="addPinForm5" class="form-horizontal group-border-dashed">
                       
                        <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Comments</h3>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-6">
                            <textarea  name="comments" id="comments" ng-model="comments" ng-required="true" class="form-control"> </textarea>
                          </div>
                        </div>
                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step4');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm5.$invalid" ng-click="showNextStep('step6');">Next</button>
                          </div>
                        </div>

                      </form>
                    </div>

                    <div ng-show="activePart == 'step6'" class="step-pane">
                      <form id="pinForm6" name="addPinForm6" class="form-horizontal group-border-dashed">
                       <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Add Ratings</h3>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-10">
                               <div class="row">
                                 <slider ng-model="slider1.val" min="1" max="5" step="1" ></slider>
                               </div>

                               <div class="row" style="padding-top:2%">
                                  <label class="col-sm-3">Rating value: </label>
                                  <div class="col-sm-3">
                                    <p>{{slider1.val}}</p>
                                  </div>
                               </div>
                          </div>
                        </div>
                        
                        <div class="form-group text-center">
                          <div class="col-sm-6">
                            <button class="btn btn-default col-sm-3" ng-click="showNextStep('step5');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm6.$invalid" ng-click="showNextStep('step7');">Preview</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="wizard-section" style="margin:2%;">
  <div class="fuelux" ng-show="openPinWizard">
    <div class="block-wizard panel-default">
      <div class="pin-blockwizard" >
        <div id="wizard1" class="wizard wizard-ux">
          <ul class="steps">
              <li class="{{activePart == 'step1' ? 'complete active':''}}" ng-disabled="addPinForm1.$invalid" ng-click="showNextStep('step1');">Relationship<span class="chevron"></span></li>
              <li class="{{activePart == 'step2' ? 'complete active':''}}" ng-disabled="addPinForm2.$invalid" ng-click="showNextStep('step2');">Tags<span class="chevron"></span></li>
              <li class="{{activePart == 'step3' ? 'complete active':''}}"
              ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step3');">Objectives<span class="chevron"></span></li>
              <li class="{{activePart == 'step4' ? 'complete active':''}}"
              ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step4');">Event<span class="chevron"></span></li>
              <li class="{{activePart == 'step6' ? 'complete active':''}}" ng-disabled="addPinForm6.$invalid" ng-click="showNextStep('step6');">Ratings<span class="chevron"></span></li>
          </ul>

          <div class="step-content" >
            <div ng-show="activePart == 'step1'" class="step-pane active">
              <form id="pinForm1" name="addPinForm1" class="form-horizontal group-border-dashed" role="form">
                <!-- <div class="scroll"> -->
                <div class="form-group no-padding" >
                  <div class="col-sm-7">
                    <h3 class="wizard-title">Define Relation</h3>
                    <p class="sub-title">Please define relation to PIN employees</p>
                  </div>
                </div>
                        
                <div class="scroll">
                  <div class="form-group" >
                    <div class="col-sm-6">
                            
                      <div class="am-radio">
                        <input type="radio" name="rad1" id="rad1" ng-model="rad1" ng-required="true" value="rad1">
                        <label for="rad1">Option 1</label>
                      </div>
                      <div class="am-radio">
                        <input type="radio" name="rad1" id="rad2" ng-model="rad1" ng-required="true" value="rad2">
                        <label for="rad2">Option 3</label>
                      </div>
                      <div class="am-radio">
                        <input type="radio" name="rad1" id="rad3" ng-model="rad1" ng-required="true" value="rad3">
                        <label for="rad3">Option 3</label>
                      </div>
                      <div class="am-radio">
                        <input type="radio" name="rad1" id="rad4" ng-model="rad1" ng-required="true" value="rad4">
                        <label for="rad4">Option 4</label>
                      </div>
                    </div>
                  </div>
                </div>
                        <!-- </div> -->
                    
                <div class="form-group text-center">
                  <div class="btn-block">
                    <div class="col-sm-6">
                      <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
                      <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm1.$invalid" ng-click="showNextStep('step2');">Next</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div ng-show="activePart == 'step2'" class="step-pane">
              <form id="pinForm2" name="addPinForm2" class="form-horizontal group-border-dashed">
                <div class="form-group no-padding">
                  <div class="col-sm-7">
                    <h3 class="wizard-title">Pick Tags</h3>
                    <p class="sub-title">Pick relevant tags for useful review process</p>
                  </div>
                </div>
                        
                <div class="scroll">
                  <div class="form-group row">
                    <div class="col-sm-6">
                            
                        <div class="am-checkbox">
                          <input type="checkbox" name="sales" id="sales" ng-model="sales" ng-required="true" value="sales">
                          <label for="sales">Sales</label>
                        </div>
                      <div class="am-checkbox">
                        <input type="checkbox" name="mkt" id="mkt" ng-model="mkt" ng-required="true" value="mkt">
                        <label for="mkt">Marketing</label>
                      </div>
                      <div class="am-checkbox">
                        <input type="checkbox" name="cspt" id="cspt" ng-model="cspt" ng-required="true" value="cspt">
                        <label for="cspt">Customer Support</label>
                      </div>
                      <div class="am-checkbox">
                        <input type="checkbox" name="pstf" id="pstf" ng-model="pstf" ng-required="true" value="pstf">
                        <label for="pstf">Professional Staff</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="am-checkbox">
                        <input type="checkbox" name="mgmt" id="mgmt" ng-model="mgmt" ng-required="true" value="mgmt">
                        <label for="mgmt">Management</label>
                      </div>
                      <div class="am-checkbox">
                        <input type="checkbox" name="cstf" id="cstf" ng-model="cstf" ng-required="true" value="cstf">
                        <label for="cstf">Clerical Staff</label>
                      </div>
                      <div class="am-checkbox">
                        <input type="checkbox" name="gnr" id="gnr" ng-model="gnr" ng-required="true" value="gnr">
                        <label for="gnr">Generic</label>
                      </div>
                    </div>
                  </div>
                </div>
                    
                <div class="form-group text-center">
                  <div class="btn-block">
                    <div class="col-sm-6">
                      <button class="btn btn-default col-sm-3" ng-click="showNextStep('step1');">Previous</button>
                      <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm2.$invalid" ng-click="showNextStep('step3');" id="check-button">Next</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div ng-show="activePart == 'step3'" class="step-pane">
              <form id="pinForm3" name="addPinForm3" class="form-horizontal group-border-dashed">
                <div class="form-group no-padding">
                  <div class="col-sm-7">
                    <h3 class="wizard-title">Select Objectives</h3>
                  </div>
                </div>
                <div class="scroll">
                  <div class="form-group">
                    <div class="col-sm-6">
                    <div class="am-radio">
                      <input type="radio" name="obj1" id="obj1" ng-model="obj1" ng-required="true" value="obj1">
                      <label for="obj1">Objective 1</label>
                    </div> 
                    <div class="am-radio">
                      <input type="radio" name="obj2" id="obj2" ng-model="obj1" value="obj2">
                      <label for="obj1">Objective 2</label>
                    </div>
                    <div class="am-radio">
                      <input type="radio" name="obj3" id="obj3" ng-model="obj1" value="obj3">
                      <label for="obj1">Objective 3</label>
                    </div> 
                    <div class="am-radio">
                      <input type="radio" name="obj4" id="obj4" ng-model="obj1" value="obj4">
                      <label for="obj1">Objective 4</label>
                    </div>
                    <div class="am-radio">
                      <input type="radio" name="obj5" id="obj5" ng-model="obj1" value="obj5">
                      <label for="obj1">Objective 5</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center">
              <div class="btn-block">
                <div class="col-sm-6">
                  <button class="btn btn-default col-sm-3" ng-click="showNextStep('step2');">Previous</button>
                  <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step4');">Next</button>
                </div>
              </div>
              </div>
              </form>
            </div>

            <div ng-show="activePart == 'step4'" class="step-pane">
              <form id="pinForm4" name="addPinForm4" class="form-horizontal group-border-dashed">
                <div class="form-group no-padding">
                <div class="col-sm-7">
                  <h3 class="wizard-title">Event Name</h3>
                </div>
                </div>
                <div class="scroll">
                  <div class="form-group">
                    <label class="col-sm-2">Event : </label>
                      <div class="col-sm-6">
                        <input type="text" name="eventname" id="eventname" ng-model="eventname" ng-required="true" class="form-control"> 
                      </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2">Date : </label>
                      <div class="col-sm-6">
                        <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker" id="startDate">
                          <input ng-model="eventDate" type="text" value="" class="form-control"><span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
                          </div> 
                      </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2">Comments : </label>
                      <div class="col-sm-6">
                        <textarea  name="comments" id="comments" ng-model="comments" ng-required="true" class="form-control"> </textarea>
                      </div>
                  </div>
                  <!-- </div> -->

                  <div class="form-group text-center">
                    <div class="btn-block">
                    <div class="col-sm-6">
                      <button class="btn btn-default col-sm-3" ng-click="showNextStep('step3');">Previous</button>
                            <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step6');">Next</button>
                    </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

                    
            <div ng-show="activePart == 'step6'" class="step-pane">
              <form id="pinForm6" name="addPinForm6" class="form-horizontal group-border-dashed">
                <div class="form-group no-padding">
                  <div class="col-sm-7">
                    <h3 class="wizard-title">Add Ratings</h3>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                            <!--<input type="text" value="" class="bslider form-control">-->
                               <!--radius-->
                    <div class="row">
                      <slider ng-model="slider1.val" min="1" max="5" step="1" ></slider>
                    </div>

                    <div class="row" style="padding-top:2%">
                      <label class="col-sm-3">Rating value: </label>
                        <div class="col-sm-3">
                          <p>{{slider1.val}}</p>
                        </div>
                    </div>
                                
                                
                                <!--radius-->
                  </div>
                </div>
                        
                <div class="form-group text-center">
                      <div class="btn-block">
                        <div class="col-sm-6">
                          <button class="btn btn-default col-sm-3" ng-click="showNextStep('step4');">Previous</button>
                          <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm6.$invalid" ng-click="showNextStep('step7');">Preview</button>
                        </div>
                      </div>
                </div>

              </form>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


</div>
                </div>
            </section>
          </div>
      
</div>

  <!-- Modal -->
                    <div id="edit-profile" tabindex="-1" role="dialog" class="modal fade" style="padding-right:0 !important;">
                          <div class="modal-dialog full-width">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button " data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
                              </div>
                              <div class="modal-body">
                                <!--<div class="text-center">
                                  <div class="i-circle text-primary"><i class="icon s7-check"></i></div>
                                  <h4>Awesome!</h4>
                                  <p>Changes has been saved successfully!</p>
                                </div>-->

                     <div class="row ">
                       <div class="col-sm-4 col-sm-offset-4 profile-img"></div>
                    </div>

                <div class="content row">
                                    <form role="form" data-parsley-validate="" novalidate="" class="form-horizontal">

                                      <div class="form-group row">
                                        <label for="firstName" class="col-sm-3 control-label sub-title">First Name</label>
                                        <div class="col-sm-6">
                                          <input id="firstName" type="text" required="" class="form-control" name="firstName">
                                         
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="lastName" class="col-sm-3 control-label sub-title">Last Name</label>
                                        <div class="col-sm-6">
                                          <input id="lastName" type="text" required="" class="form-control">
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="dept" class="col-sm-3 control-label sub-title">Department</label>
                                        <div class="col-sm-6">
                                          <input id="dept" type="text" required="" class="form-control">
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="location" class="col-sm-3 control-label sub-title">Location</label>
                                        <div class="col-sm-6">
                                          <input id="location" type="text" required="" class="form-control">
                                        </div>
                                      </div>


                                      <div class="form-group row">
                                        <label for="empId" class="col-sm-3 control-label sub-title">Employee ID</label>
                                        <div class="col-sm-6">
                                          <input id="empId" type="text" required="" class="form-control">
                                        </div>
                                      </div>


                                      <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 control-label sub-title">Email</label>
                                        <div class="col-sm-6">
                                          <input id="inputEmail3" type="email" required="" parsley-type="email" class="form-control">
                                        </div>
                                      </div>
                                    </form>
                </div>
                              </div>
                              <div class="modal-footer row">
                                <button type="button" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
                                <button type="button" data-dismiss="modal" class="btn btn-primary col-sm-2">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
              <!-- Modal -->

<script type="text/javascript">
  
var checkboxes = $("input[type='checkbox']"),
    nextButton = $('#check-button');

checkboxes.click(function() {
    nextButton.attr("disabled", !checkboxes.is(":checked"));
});
</script>

              
<!--<script type="text/javascript">
  $(document).ready(function(){
     $('.bslider').bootstrapSlider();
  })
</script>-->
<!-- <script type="text/javascript">
  var selector = '.nav li';

$(selector).on('click', function(){
    $(selector).removeClass('active classSelected');
    $(this).addClass('active classSelected');
});
</script> -->