<div class="am-wrapper wrapperClass am-fixed-sidebar">
  <div  class="menuBar am-white-header consumer-header">

<!-- Top Header content -->
      <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="">
          <div class="navbar-header">
            <a  class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a><a ui-sref="chome" class="navbar-brand"></a>
          </div>
          <a  data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
          <div id="am-navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right am-user-nav">
              

             
              <li class="dropdown ">
               <a data-toggle="dropdown"   role="button" aria-expanded="false" class="dropdown-toggle">
                <span class="icon s7-bell"  style="font-size:1.2em"></span><span ng-show="notificationunreadCount > 0" class="myIndicator"></span> 
               </a>
                <ul role="menu" class="dropdown-menu menu-notifications">
                  <li ng-repeat="note in notificationsUnread">
                  <a>
                    
                      <div class="user-content"> 
                     <!--  <span class="icon s7-add-user"></span> -->
                      <span  ng-init="imgNote=note.notificationActivity">
                      <img ng-src="img/notification/{{imgNote}}.png">
                    </span>
                      {{note.notificationMessage ? note.notificationMessage : 'No notifications found'}}
                      </div>
                    </a>
                  </li>
              <li><hr> <div class="footer col-sm-offset-4"  style="padding-bottom:20px;cursor:pointer"> <a ng-click="goNotify()" >View all notifications</a></div></li>
                </ul>
              </li>
              <li class="dropdown">
               <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                <span class="user-name">{{user.firstname ? user.firstname : 'USER'}}</span> <span class="angle-down s7-angle-down"></span> 
               </a>
                <ul role="menu" class="dropdown-menu"><!-- 
                  <li><a> <span class="icon s7-user"></span>My profile</a></li>
                  <li><a> <span class="icon s7-config"></span>Settings</a></li>
                  <li><a> <span class="icon s7-help1"></span>Help</a></li> -->
                  <li><a ng-click="goProfile()"> <span class="icon s7-user"></span>My Profile</a></li>
                  <li><a ng-click="gochangePwd()"> <span class="icon s7-user"></span>Change Password</a></li>
                  <li><a ng-click="logOutUser()"> <span class="icon s7-power"></span>Sign Out</a></li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </nav> 
<!-- Top Header content -->

<!-- Consumer side-menu content -->
     <div class="am-left-sidebar">
        <div class="content">
          <div class="am-logo"></div>
          <ul class="sidebar-elements">
            <li ng-class="{'header-active parent': activetab=='/chome'}"><a  ng-click="gocHome()"><i class="icon s7-home"></i><span>HOME</span></a>              
            </li>

            <li ng-class="{'header-active parent': activetab=='/profile'}"><a  ng-click="goProfile()"><i class="icon s7-user"></i><span>MY PROFILE</span></a>              
            </li>

            <li ng-class="{'header-active parent': activetab=='/bypins'}"><a ng-click="goByMe()"><i class="icon s7-ribbon"></i><span>PINS BY ME</span></a>             
            </li>

            <li ng-class="{'header-active parent': activetab=='/forpins'}"><a ng-click="goForMe()"><i class="icon s7-ribbon"></i><span>PINS FOR ME</span></a>             
            </li>

              <li ng-class="{'header-active parent': activetab=='/notifications'}"><a ng-click="goNotify()"><i class="icon s7-bell"></i><span>NOTIFICATIONS</span></a>
            </li>
            <!-- <li ng-class="{'header-active parent': activetab=='/export'}"><a ui-sref="export"><i class="icon s7-news-paper"></i><span>EXPORT HISTORY</span></a>            
            </li> -->


          

           <!--  <li ng-class="{'header-active parent': activetab=='/charts'}"><a ui-sref="charts" ng-click="goCharts()"><i class="icon s7-graph2"></i><span>CHARTS</span></a>              
            </li>  -->

          </ul>
        </div>
      </div>
<!-- Consumer side-menu content end -->

  </div>    
<div>

