<!-- <div ng-controller="LoginCtrl" ng-cloak>
<ng-include src="getPartial()" onload="navDetails()"></ng-include>
 -->
 <style type="text/css">


input[type=radio]:required{
border: 5px solid grey !important;
border-color: #800000 !important;
border-width: 3px !important;
}

</style>

<div class="am-content consumer-home-page">
<!--<div ng-include src="'partials/breadcrum.html'"></div> -->

<!--first part-->
<div class="panel panel-default">
<section class="page-aside" style="background-color:#fff; ">
<div class="search-section">
<div class="input-group xs-mb-15">
    <input type="search" class="form-control" ng-model="search"><span class="input-group-addon"><span class="icon s7-search"></span></span>
</div>
</div>

<div class="name-section">
<ul class="emp-list">
<li  id="list{{emp.id}}" style="margin-left:0" ng-repeat="emp in allEmpList | filter:search"   ng-class="{'classSelected active': $index == selected}">
<div  style="cursor:pointer" ng-click="select($index,emp);getPinHistory(emp.id);sendId(emp.id,emp.role_id);getMagicAPI(emp.id)">
  <div class="user-img col-md-3 col-sm-4 col-xs-3"> <img ng-src="{{emp.profile_image ? emp.profile_image : 'img/avatar4.jpg'}}"></div>
</div>
  
  <div class="user-info col-md-9 col-sm-9 col-xs-9">
    <p class="title">{{emp.firstname ? emp.firstname:'--' | capitalize}} {{emp.lastname ? emp.lastname:'--' | capitalize}}</p>
    <p class="sub-title">{{emp.department ? emp.department:'--' | capitalize}} <br/> {{emp.location ? emp.location:'--' | capitalize}}  <button class="btn btn-primary add-pin-btn pull-right" id="btn{{emp.id}}"   ng-click="addPin();"> Pin </button></p>
   
 </div>

</li>
</ul>

</div>              
</section>

<!-- second part -->


<section class="col-sm-9 col-sm-offset-3" id="section2">
<div class="panel-body">
<div class="row page-head">
<div class="page-title">
  <h3>View Profile</h3> 
</div>
</div>
<section class="row page-head" style="border-bottom:none;padding-left: 2%;">
<div class="col-sm-4 profile-img profile-img-consumer" style="background-image:url({{selDisplay.profile_image ? selDisplay.profile_image : 'img/avatar4.jpg'}});height:10em;"></div>
<div class="col-sm-7 col-sm-offset-1 writ-section">
    <div class="row">
      <label class="col-sm-4 sub-title">Name</label>
      <div class="col-sm-8">
        <p class="title"> {{selDisplay.firstname ? selDisplay.firstname:'NAME' | capitalize}} {{selDisplay.lastname ? selDisplay.lastname:'NAME' | capitalize}}</p>
      </div>
     </div>

     <div class="row">
      <label class="col-sm-4 sub-title">Department</label>
      <div class="col-sm-8">
        <p class="title"> {{selDisplay.department ? selDisplay.department:'DEPARTMENT' | capitalize}} </p>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-4 sub-title">Employee ID</label>
      <div class="col-sm-8">
        <p class="title"> {{selDisplay.employee_id ? selDisplay.employee_id:'ID'}} </p>
      </div>
    </div>

    <div class="row">
      <label class="col-sm-4 sub-title">Location</label>
      <div class="col-sm-8">
        <p class="title"> {{selDisplay.location ? selDisplay.location:'LOCATION' | capitalize}}</p>
      </div>
    </div>

    <div class="row" ng-show="selDisplay.id != user.id">
      <label class="col-sm-4 sub-title">Relationship</label>
      <div class="col-sm-8" ng-show="!editMode">
        <p class="title" > {{selDisplay.rel_role_description ? selDisplay.rel_role_description : 'No Relationship' | capitalize}}</p>
        <div ng-show="selDisplay.rel_role_description != undefined" ng-click="editMode = true;">
        <button ng-disabled="selDisplay.enabled == false || addingPinprocess" class="btn btn-primary btn-edit"><i class="icon s7-pen pull-right"></i></button>
        </div>
      </div>


      <div class="col-sm-5" ng-show="editMode">

        <select id="editedVal" class="form-control">
          <option ng-repeat="editR in editRelationsList" ng-model="selDisplay.editedRel" value="{{editR.id}}">{{editR.description}}</option>
        </select>

        <button class="btn btn-primary btn-close" ng-click="editMode = false"><i class="icon s7-close pull-right"></i></button>

        <button class="btn btn-primary btn-check" ng-click="updateUserRel(editR)"><i class="icon s7-check pull-right"></i></button>

      </div>
      
    </div>

 <!--    <div class="col-sm-offset-2" ng-show="selDisplay.id != user.id && selDisplay.role_id ==1 ">
      <button class="btn btn-primary col-sm-4" style="line-height:1em;" ng-click="exportHistory(selDisplay.id)" ng-disabled="selDisplay.role_id != 1">Export Pins</button>
      </div> -->

</div>
</section>


<div class="row">

<!--   <div class="tab-container" ng-show="!openPinWizard">
<ul class="nav nav-tabs tabs">
<li class="performance active">
<a class="mylink" data-target="#performance" data-toggle="tab">PERFORMANCE</a>
</li>
<li class="history" ng-click="getPinHistory(selDisplay.id)">
<a data-target="#pinhistory" data-toggle="tab">PIN HISTORY</a>
</li>
</ul>
<div class="tab-content">

<div id="performance" class="tab-pane active cont">
<p> Consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
</div>

<div id="pinhistory" class="tab-pane cont">
<h4><b>{{date | date:'LLLL, dd'}}</b></h4>
<div class="row summary-section">
<div class="box col-sm-5">
<div class="box-header">
<p class="title">Customer Focus <span class="pull-right">Pin date</span></p>
</div>

<div class="box-content">
<p class="title">Sales meeting</p>
<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia</p>
</div>

<div class="box-footer">
<p class="title">Satisfactory</p>
</div>
</div> 

<div class="box col-sm-5">
<div class="box-header">
<p class="title">Customer Focus <span class="pull-right">Pin date</span></p>
</div>

<div class="box-content">
<p class="title">Sales meeting</p>
<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia</p>
</div>

<div class="box-footer">
<p class="title">Satisfactory</p>
</div>
</div> 

</div>
      
</div>
</div>
</div> -->
<!-- <div id="tabs" ng-show="!openPinWizard">
<ul>
<li><a href="#tabs-1">Nunc tincidunt</a></li>
<li><a href="#tabs-2">Proin dolor</a></li>
<li><a href="#tabs-3">Aenean lacinia</a></li>
</ul>
<div id="tabs-1">
<p>Manu</p>
</div>
<div id="tabs-2">
<p>Chinu</p>
</div>
<div id="tabs-3">
<p>Spiku</p>
</div>
</div>   -->

<div class="tab-container" ng-show="!openPinWizard" style="min-height:70em">
<ul class="nav nav-tabs">
<li class="history active"><a href="#tabs-1" data-toggle="tab">PIN HISTORY</a></li>
<li class="performance "><a href="#tabs-2" data-toggle="tab" >PERFORMANCE</a></li>



</ul>

<div class="tab-content">

<div id="tabs-2">
<p id="showNochart" ng-show="!showChart"></p>
<div class="panel no-chart" ng-show="showChart">
<!--    <p id="no_chart"></p>
<div id="chart_div" style="width: 900px; height: 500px;"></div> -->

<div class="row">
<div class="col-sm-12">
<div class="tab-container tab-left">
<ul class="nav nav-tabs">
<li class="active chartTab"><a href="#tab3-1" data-toggle="tab"><i class="icon s7-graph1"></i></a></li>
<li  ng-click="avgchartObjectRender(selDisplay.id)"><a href="#tab3-2" data-toggle="tab"><i class="icon s7-graph2"></i></a></li>
<li ng-click="objectListforPinnee(selDisplay.id)"><a href="#tab3-3" data-toggle="tab" ><i class="icon s7-graph3"></i></a></li>
</ul>
<div class="tab-content">
<div id="tab3-1" class="tab-pane active cont fade in">
<h3>Average Performance</h3>
 <p id="no_chart1"></p>
<div id="chart_div1" ></div>
</div>
<div id="tab3-2" class="tab-pane cont fade" >
<h3>Objective Series</h3>
<p id="no_chart2"></p>
<div id="chart_div2" ></div>
</div>
<div id="tab3-3" class="tab-pane fade">
<h3>Performance By Objective</h3>
 <p id="no_chart3"></p>
<p id="someId" hidden="true"></p>

<select  id="objSel" class="form-control" ng-model="objectiveSelected"
    ng-options="o.id as o.title for o in objListforPinnee" ng-change="ObjectiveSel(objectiveSelected)"
     ></select>

<div id="chart_div3" style=""></div>
</div>
</div>
</div>
</div>

</div>
<!--Accordions-->

</div>
</div>

<div id="tabs-1">
<div class="row">

<div class="col-sm-6"> 
<h5>Pins by me </h5></div>
<div class="col-sm-6 " ng-show="showExport">
      <button class="btn btn-primary col-sm-6 col-sm-offset-5" style="line-height:1em;" ng-click="exportHistory(selDisplay.id)">Export Pins</button>
      </div>
</div>

<div class="row summary-section" ng-show="havePinned">


<div class="box col-sm-5" ng-repeat="pin in pins" >
<div class="box-header">
<p class="title" style="font-size:13px; font-weight:600;">Pin to - {{pin.pinneeFirstName}} {{pin.pinneeLastName}}
<span class="pull-right">{{pin.createdDate| moment:'fromNow'}}</span>
</p>  
</div>

<div class="box-content ellipsis text-center">
<p class="title">Event - {{pin.event}}</p>
<p class="title">Objective - {{pin.pinObjectiveTitle}}</p>
<p class="sub-title">Comment - {{pin.comment}}</p>
<!-- <p>Pinner - {{pin.pinnerFirstName}}</p> -->
</div>

<div class="box-footer text-center">
<p class="title">Rating - {{pin.pinRatingTitle}}</p>
</div>
</div>
</div>
<div ng-show="!havePinned">No Pins Available</div>


<div class="row summary-section"  ng-show="otherPinned">
<h5>Pins by others</h5>
<div class="box col-sm-5" ng-repeat="other in otherPins">
<div class="box-header">
<p class="title" style="font-size:13px; font-weight:600;">Pin to - {{other.pinneeFirstName}} {{other.pinneeLastName}}
<span class="pull-right">{{other.createdDate| moment:'fromNow'}}</span>
</p>  
</div>

<div class="box-content ellipsis text-center">
<p class="title">Event - {{other.event}}</p>
<p class="sub-title">Objective - {{other.pinObjectiveTitle}}</p>
<p>Comment - {{other.comment}}</p>
</div>


<div class="box-footer text-center">
<p class="title">Rating - {{other.pinRatingTitle}}</p>
</div>
</div>
</div>
</div>
</div>


</div> 

<!-- <div class="details-section" ng-show = "selDisplay.enabled == false">You cant PIN to {{selDisplay.firstname}} {{selDisplay.lastname}}</div> -->
<div class="wizard-section" style="margin:2%;">
<div class="fuelux" ng-show="openPinWizard  && selDisplay.enabled == true" style="border:1px solid #ddd">
<div class="block-wizard panel-default">
<div class="pin-blockwizard" >
<div id="wizard1" class="wizard wizard-ux">
<ul class="steps">
<li class="{{activePart == 'step1' ? 'complete active':''}}" ng-disabled="addPinForm1.$invalid" >Relationship<span class="chevron"></span></li>
<li class="{{activePart == 'step2' ? 'complete active':''}}" ng-disabled="addPinForm2.$invalid" >Tags<span class="chevron"></span></li>
<li class="{{activePart == 'step3' ? 'complete active':''}}"
ng-disabled="addPinForm3.$invalid">Objectives<span class="chevron"></span></li>
<li class="{{activePart == 'step4' ? 'complete active':''}}"
ng-disabled="addPinForm4.$invalid">Event<span class="chevron"></span></li>
<li class="{{activePart == 'step5' ? 'complete active':''}}" 
ng-disabled="addPinForm5.$invalid">Ratings<span class="chevron"></span></li>
<li class="{{activePart == 'step6' ? 'complete active':''}}" 
ng-disabled="addPinForm6.$invalid">Preview<span class="chevron"></span></li>
</ul>

<div class="step-content" >
<div ng-show="activePart == 'step1'" class="step-pane active">
<form id="pinForm1" name="addPinForm1" class="form-horizontal group-border-dashed" role="form">
<!-- <div class="scroll"> -->
<div class="form-group no-padding" >
<div class="col-sm-7">
  <h3 class="wizard-title">Define Relation</h3>
  <p class="sub-title" ng-show="!hasRelation">Please define relation to PIN employees</p>
  <p class="sub-title" ng-show="hasRelation">
   Your current relationship with {{selDisplay.firstname}} {{selDisplay.lastname}} is of
   <span style="color:#000; text-transform: uppercase;">    {{userRelationship.user2_rel_role_description}}</span></p>
</div>
</div>
      
<div class="scroll">

<div class="form-group">
  <div class="col-sm-6">
          
    <div class="am-radio" ng-repeat = "editR in editRelationsList">

    
      <input type="radio" name="rad1" id="rad{{editR.description}}" ng-model="save.pinneeRelationship" ng-required="true" ng-checked="{{(userRelationship != undefined &&userRelationship.user2_rel_role_id == editR.id)?true:false}}" value="{{editR.id}}" class="Relation">
      <label for="rad{{editR.description}}">{{editR.description}}</label>

    </div>



  </div>
</div>
</div>

  
<div class="form-group text-center">
<div class="btn-block">
  <div class="col-sm-6">
    <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
    <button id="fstNxtbtn" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm1.$invalid || {{(userRelationship != undefined && userRelationship.user2_rel_role_id != editR.id)?'false':'true'}}" ng-click="showNextStep('step2');checkforslider()">Next</button>
  </div>
</div>
</div>
</form>
</div>

<div ng-show="activePart == 'step2'" class="step-pane">
<form id="pinForm2" name="addPinForm2" class="form-horizontal group-border-dashed">
<div class="form-group no-padding">
<div class="col-sm-7">
  <h3 class="wizard-title">Pick Tags</h3>
  <p class="sub-title">Pick relevant tags for useful review process</p>
</div>
</div>
      
<div class="scroll">
<div class="form-group row">
  
    <div class="col-sm-6" ng-repeat="tag in allTagsselected">
      <div class="am-checkbox" >
        <input type="checkbox" class="Checkbox"  ng-checked="tag.selectedMegha === 'YES'" ng-true-value="'YES'" ng-false-value="'NO'" name="{{tag.id}}" id="{{tag.id}}" ng-required="true" value="{{tag.id}}">
        <label for="{{tag.id}}">{{tag.tagTitle}}</label>
      </div>
    </div>      
</div>
</div>
  
<div class="form-group text-center">
<div class="btn-block">
  <div class="col-sm-6">
    <button class="btn btn-default col-sm-3" ng-click="showNextStep('step1');">Previous</button>
    <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm2.$invalid || addPinForm2.$pending" ng-click="showNextStep('step3');getRelatedObj()" id="check-button">Next</button>
  </div>
</div>

</div>
</form>
</div>

<div ng-show="activePart == 'step3'" class="step-pane">
<form id="pinForm3" name="addPinForm3" class="form-horizontal group-border-dashed">
<div class="form-group no-padding">
<div class="col-sm-7">
  <h3 class="wizard-title">Select Objectives</h3>
</div>
</div>

<div class="scroll">
<div class="form-group">
  <div class="col-sm-6">

  <div ng-show="foundObj"> 
  <div class="" ng-repeat="obj in relatedObj"> 
    <input type="radio" name="{{obj.id}}" id="{{obj.id}}" ng-model="save.objective" ng-required="true" value="{{obj.id}}" class="objktive">
    <label for="{{obj.id}}">{{obj.title}}</label>
    </div>
  </div>

  <div ng-hide="foundObj">
    <p>Objectives related with previously selected tags are not found.</p>
    <p>Please select another or continue.</p>
  </div>

</div>
</div>
</div>

<div class="form-group text-center">
<div class="btn-block">
<div class="col-sm-6">
<button class="btn btn-default col-sm-3" ng-click="showNextStep('step2');">Previous</button>
<button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm3.$invalid" ng-click="showNextStep('step4');">Next</button>
</div>
</div>
</div>
</form>
</div>

<div ng-show="activePart == 'step4'" class="step-pane">
<form id="pinForm4" name="addPinForm4" class="form-horizontal group-border-dashed">
<div class="form-group no-padding">
<div class="col-sm-7">
<h3 class="wizard-title">Event Name</h3>
</div>
</div>
<div class="scroll">
<div class="form-group">
  <label class="col-sm-2">Event : </label>
    <div class="col-sm-6">
      <input type="text" name="eventname" id="eventname" ng-model="save.event" no-special-char ng-required="true" class="form-control"> 
    </div>
</div>

<div class="form-group">
  <label class="col-sm-2">Date : </label>
    <div class="col-sm-6">
     <!--  <div data-min-view="2" data-date-format="yy-mm-dd hh:mm:ss" min="minDate" max="maxDate"  datepicker-options="dateOptions" class="input-group date datetimepicker" id="startDate">
             
        <input ng-model="save.pinDate" type="text" value="" ng-required="true" class="form-control" />
       
          
        <span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
       
        </div>  -->
 <div id="dates" class="input-group datetimepicker"  >
          <input ng-model="save.pinDate" data-format="MM-dd-yyyy HH:mm:ss " type="text" id="input1" name="input1" class="form-control" readonly />
          <span class="input-group-addon btn btn-default">
           <i data-time-icon="icon-time" class="icon-th s7-date icon-calendar"></i></span> 
         
        </div>
        
    </div>
</div>

<div class="form-group">
  <label class="col-sm-2">Comments : </label>
    <div class="col-sm-6">
      <textarea  name="comments" id="comments" ng-model="save.comment" ng-required="true" class="form-control" maxlength="200"> </textarea>
    </div>
</div>
</div>
<!-- </div> -->

<div class="form-group text-center">
  <div class="btn-block">
  <div class="col-sm-6">
    <button class="btn btn-default col-sm-3" ng-click="showNextStep('step3');">Previous</button>
    <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm4.$invalid" ng-click="showNextStep('step5');">Next</button>
  </div>
  </div>
</div>
</form>
</div>

  
<div ng-show="activePart == 'step5'" class="step-pane">
<form id="pinForm5" name="addPinForm5" class="form-horizontal group-border-dashed">
<div class="form-group no-padding">
<div class="col-sm-7">
  <h3 class="wizard-title">Add Ratings</h3>
</div>
</div>
<div class="form-group" ng-if="showSlider" >
<div class="col-sm-10" >
  <div class="row">



<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>


<br>
 

  <div class="row" style="padding-top:2%">
    <label class="col-sm-3">Rating value: </label>
      <div class="col-sm-3">
      <p id="ratingTextValue" style="display:none">{{slider.value}}</p>
        <p  style="color:{{slider.options.stepsArray[slider.value].getTickColor}}">{{slider.options.stepsArray[slider.value-1].legend?slider.options.stepsArray[slider.value-1].legend:'Nothing'}}</p>
       <!--  <input type="text" hidden="true" id="ratingTextValue" value="slider.value" ng-model="ratingTextVal"> -->

      </div>
  </div> 
  </div> 
</div>
</div>

<div ng-show="!showSlider">
  <p class="title" style="margin-top:3%"> You cannot rate {{selDisplay.firstname}}</p>
</div>
      
<div class="form-group text-center">
    <div class="btn-block">
      <div class="col-sm-6">
        <button class="btn btn-default col-sm-3" ng-click="showNextStep('step4');">Previous</button>
        <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm5.$invalid" ng-click="showNextStep('step6');showPreview()">Preview</button>
      </div>
    </div>
</div>

</form>
</div>

<div ng-show="activePart == 'step6'" class="step-pane">
<form id="pinForm6" name="addPinForm6" class="form-horizontal group-border-dashed">
<div class="form-group no-padding">
<div class="col-sm-7">
  <h3 class="wizard-title">Preview</h3>
</div>
</div>
<div class="form-group">
<div class="col-sm-10">
  <p class="title">Relationship : <span class="sub-title">{{relForDisplay}}</span></p>

  <p class="title">Tags : <span class="sub-title">{{tagsForDisplay}}</span></p>

  <p class="title">Objectives : <span class="sub-title">{{objForDisplay}}</span></p>

  <p class="title">Event : <span class="sub-title">{{save.event}}</span></p>

  <p class="title">Comment : <span class="sub-title">{{save.comment}}</span></p>

  <p class="title" ng-if="showSlider">Rating : <span class="sub-title" style="color:{{slider.options.stepsArray[slider.value].getTickColor}}">{{slider.options.stepsArray[slider.value-1].legend}}</span></p>

</div>
</div> 
      
<div class="form-group text-center">
    <div class="btn-block">
      <div class="col-sm-6">
        <button class="btn btn-default col-sm-3" ng-click="cancelPin()">Cancel</button>
        <button class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addPinForm7.$invalid" ng-click="savePin();">Add Pin</button>
      </div>
    </div>
</div> 

</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>

<!-- Modal -->
<div id="edit-profile" tabindex="-1" role="dialog" class="modal fade" style="padding-right:0 !important;">
      <div class="modal-dialog full-width">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button " data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
          </div>
          <div class="modal-body">
            <!--<div class="text-center">
              <div class="i-circle text-primary"><i class="icon s7-check"></i></div>
              <h4>Awesome!</h4>
              <p>Changes has been saved successfully!</p>
            </div>-->

            <div class="row ">
               <div class="col-sm-4 col-sm-offset-4 profile-img"></div>
            </div>

            <div class="content row">
                  <form role="form" data-parsley-validate="" novalidate="" class="form-horizontal">

                                      <div class="form-group row">
                                        <label for="firstName" class="col-sm-3 control-label sub-title">First Name</label>
                                        <div class="col-sm-6">
                                          <input id="firstName" type="text" required="" class="form-control" name="firstName">
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="lastName" class="col-sm-3 control-label sub-title">Last Name</label>
                                        <div class="col-sm-6">
                                          <input id="lastName" type="text" required="" class="form-control">
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="dept" class="col-sm-3 control-label sub-title">Department</label>
                                        <div class="col-sm-6">
                                          <input id="dept" type="text" required="" class="form-control">
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label for="location" class="col-sm-3 control-label sub-title">Location</label>
                                        <div class="col-sm-6">
                                          <input id="location" type="text" required="" class="form-control">
                                        </div>
                                      </div>


                                      <div class="form-group row">
                                        <label for="empId" class="col-sm-3 control-label sub-title">Employee ID</label>
                                        <div class="col-sm-6">
                                          <input id="empId" type="text" required="" class="form-control">
                                        </div>
                                      </div>


                                      <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 control-label sub-title">Email</label>
                                        <div class="col-sm-6">
                                          <input id="inputEmail3" type="email" required="" parsley-type="email" class="form-control">
                                        </div>
                                      </div>
                  </form>
            </div>

          </div>
          <div class="modal-footer row">
            <button type="button" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary col-sm-2">Save</button>
          </div>
        </div>
      </div>
  </div>
<!-- Modal -->

</div>
<script type="text/javascript">
/*$(function() {
   
        $(".startDate").datetimepicker({
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        
    });
  });*/
$(function() {
$( ".tab-container" ).tabs();
});

var checkboxes = $("input[type='checkbox']"),
nextButton = $('#check-button');

checkboxes.click(function() {
nextButton.attr("disabled", !checkboxes.is(":checked"));
});
</script>



<!-- <script type="text/javascript">
var selector = '.nav li';

$(selector).on('click', function(){
$(selector).removeClass('active classSelected');
$(this).addClass('active classSelected');
});
</script> -->
