  <!--   <div ng-controller="LoginCtrl" ng-cloak>
   
     <ng-include src="getPartial()"></ng-include> -->

    

<div class="main-content am-content consumer-profile">
        <!--<div ng-include src="'partials/breadcrum.html'"></div> -->
        <div class="page-head">
          <div class="page-title">
            <h3>My Profile</h3> 
          </div>
        </div>
    
          <!--first part-->
          <div class="panel panel-default">

            <!-- second part -->


            <section class="col-sm-12">
                <div class="panel-body">
                  <section class="row page-head" style="border-bottom:none;padding-left: 2%;">
                    <div class="col-sm-4 profile-img profile-img-consumer" style="background-image:url({{user.profile_image ? user.profile_image : 'img/avatar4.jpg'}});height:10em;"></div>
                    <div class="col-sm-7 col-sm-offset-1 writ-section">
                        <div class="row">
                          <label class="col-sm-4 sub-title">Name</label>
                          <div class="col-sm-8">
                            <p class="title"> {{user.firstname ? user.firstname:'NAME' | capitalize}} {{user.lastname ? user.lastname:'NAME' | capitalize}}</p>
                          </div>
                         </div>

                         <div class="row">
                          <label class="col-sm-4 sub-title">Department</label>
                          <div class="col-sm-8">
                            <p class="title"> {{user.department ? user.department:'DEPARTMENT' | capitalize}} </p>
                          </div>
                        </div>

                        <div class="row">
                          <label class="col-sm-4 sub-title">Employee ID</label>
                          <div class="col-sm-8">
                            <p class="title"> {{user.employee_id ? user.employee_id:'ID'}} </p>
                          </div>
                        </div>

                        <!--commented because decided against it <div class="row">
                          <label class="col-sm-4 sub-title">Relationship</label>
                          <div class="col-sm-8">
                            <p class="title"> {{selDisplay.relation ? selDisplay.relation:'RELATION'}} </p>
                          </div>
                        </div> -->

                        <div class="row">
                          <label class="col-sm-4 sub-title">Location</label>
                          <div class="col-sm-8">
                            <p class="title"> {{user.location ? user.location:'LOCATION' | capitalize}}</p>
                          </div>
                        </div>

                    </div>
                  </section>
<hr>
 <section class="row" style="margin:0 0 1% 0.8%">
     <label style="vertical-align:baseline">My Favourites</label>
    <div class="input-group xs-mb-15 col-sm-12">
      <input type="search" class="form-control" ng-model="search1"><span class="input-group-addon"><span class="icon s7-search"></span></span>
    </div>
 </section>                  
              
<section class="row">
  <div class="favourite-section" ng-show="!openPinWizard">
    <div class="col-sm-3 summary-section box" ng-repeat="fav in favList | filter:search1 track by $index" style="margin:2%;">
         <div class="row">
           <div class="col-sm-2 col-sm-offset-3 profile-img profile-img-consumer1" style="margin-left:30%; background-image:url({{fav.profile_image ? fav.profile_image : 'img/avatar4.jpg'; }})"></div>
         </div><br/>
         <div class="row box-content text-center" style="font-size:10px; padding:3%">
            <p class="title ellipsis">{{fav.firstname ? fav.firstname : 'Name' | capitalize}} {{fav.lastname ? fav.lastname : 'l-name' | capitalize}}</p>


            <p class="sub-title ellipsis">Relationship: {{fav.rel_role_description ? fav.rel_role_description :'relation'}}</p>
           
            <p class="sub-title ellipsis">{{fav.department ? fav.department : 'Department' | capitalize}}</p>

             <p class="title ellipsis">{{fav.location ? fav.location : 'Location' | capitalize}}</p>

            
          </div>
    </div>
  </div>




</section>
                </div>
            </section>
          </div>
      
</div>
</div>
<script type="text/javascript">
  
var checkboxes = $("input[type='checkbox']"),
    nextButton = $('#check-button');

checkboxes.click(function() {
    nextButton.attr("disabled", !checkboxes.is(":checked"));
});
</script>

<!-- <script type="text/javascript">
    $(".datetimepicker").datetimepicker({
      autoclose: true,
      componentIcon: '.s7-date',
      navIcons:{
        rightIcon: 's7-angle-right',
        leftIcon: 's7-angle-left'
      }
    });
</script> -->

