
<!--     <div ng-controller="LoginCtrl" ng-cloak>
    
     <ng-include src="getPartial()"></ng-include>
 -->
    

<div class="am-content consumer-profile">
        <!--<div ng-include src="'partials/breadcrum.html'"></div> -->
       
    
          <!--first part-->
          <div class="panel panel-default">
        

<section class="col-sm-12">
  <div class="panel-body">

   <div class="page-head">
        <div class="page-title">
          <h3>Notifications</h3>
        
        </div>
    </div>


<div class="row">
  <div class="details-section" >
    <table class="table">
      <tbody>
        <tr class="first-row" ng-repeat= "note in notificationCount">
        <td>   <span  ng-init="imgNote=note.notificationActivity">
                      <img ng-src="img/notification/{{imgNote}}.png">
                    </span></td>
            <td class="title"><p style="cursor:pointer;font-weight:{{note.readStatus == 1?'normal':'bold'}}" ng-click="readNotification(note.id)">{{note.notificationMessage ? note.notificationMessage :$scope.noteMsg}} </p></td>
            <td class="sub-title">{{note.notificationDateTime ? (note.notificationDateTime | moment:'fromNow') : '--'}}</td>
        </tr>
      </tbody>
    </table>
  </div>    
  
  
  

</div>
                </div>
            </section>
          </div>
      
</div>
</div>

<script type="text/javascript">
  
var checkboxes = $("input[type='checkbox']"),
    nextButton = $('#check-button');

checkboxes.click(function() {
    nextButton.attr("disabled", !checkboxes.is(":checked"));
});
</script>
