 <!-- Modal -->
<div id="edit-emp-modal" tabindex="-1" role="dialog" class="modal fade" style="padding-right:0 !important;">
  <div class="modal-dialog full-width">
      <div class="modal-content">

        <div class="modal-header">
            <h4>Add Employee <button type="button " data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
        </div>

        <div class="modal-body">
            <div class="row ">
              <div class="col-sm-4 col-sm-offset-4 profile-img"></div>
            </div>

            <div class="content row">
                <form role="form" data-parsley-validate="" novalidate="" class="form-horizontal">

                  <div class="form-group row">
                    <label for="firstName" class="col-sm-3 control-label sub-title">First Name</label>
                    <div class="col-sm-6">
                      <input id="firstName" type="text" required="" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="lastName" class="col-sm-3 control-label sub-title">Last Name</label>
                    <div class="col-sm-6">
                      <input id="lastName" type="text" required="" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="dept" class="col-sm-3 control-label sub-title">Department</label>
                    <div class="col-sm-6">
                      <input id="dept" type="text" required="" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="location" class="col-sm-3 control-label sub-title">Location</label>
                    <div class="col-sm-6">
                      <input id="location" type="text" required="" class="form-control">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="empId" class="col-sm-3 control-label sub-title">Employee ID</label>
                    <div class="col-sm-6">
                      <input id="empId" type="text" required="" class="form-control">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label sub-title">Email</label>
                    <div class="col-sm-6">
                      <input id="inputEmail3" type="email" required="" parsley-type="email" class="form-control">
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <div class="modal-footer row">
          <button type="button" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary col-sm-2" ng-click="registerUser()">Save</button>
        </div>
      </div>
  </div>
</div>
              <!-- Modal -->