
          <div class="modal-header">
              <h4>Edit Objectives {{test}}<button type="button " ng-click="$close()" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>


          <div class="modal-body">
                                <!--<div class="text-center">
                                  <div class="i-circle text-primary"><i class="icon s7-check"></i></div>
                                  <h4>Awesome!</h4>
                                  <p>Changes has been saved successfully!</p>
                                </div>-->
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" name="editObjectiveForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="objective" class="col-sm-3 control-label sub-title">Title</label>
                                <div class="col-sm-6">
                                  <input id="objective" type="text" required="" class="form-control" maxlength="30" value="{{item.title}}" ng-model="item.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="desc" class="col-sm-3 control-label sub-title">Description</label>
                                <div class="col-sm-6">
                                  <textarea id="desc" type="text" required="" value="{{item.description}}" class="form-control" ng-model="item.description"></textarea> 
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tags" class="col-sm-3 control-label sub-title">Tags</label>
                                <div class="col-sm-6">
                             <!--    <select class="form-control"  name="tags" ng-model="r"  >
                                       <option value="megha">sefd</option>
                                       <option ng-repeat="p in people"  value="{{p.name}}">{{p.name}}</option>
                                  </select>  -->

                                  
                                  <!-- <select id="mySel2" class="form-control tags" multiple="multiple">
                                    <option ng-repeat="item in names" ng-selected="item.selected" ng-model="item.tag">{{item.tag}}</option>
                                  </select> -->
              <!--<ui-select multiple ng-model="ctrl.multipleDemo.deSelectedPeople" on-remove="removed($item, $model)" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="true" title="Choose a person">
                <ui-select-match placeholder="Select person...">{{item.name}} &lt;{{item.email}}&gt;</ui-select-match>
                <ui-select-choices repeat="person.email as person in ctrl.people | propsFilter: {name: $select.search, age: $select.search}">
                  <div ng-bind-html="person.name | highlight: $select.search"></div>
                  <small>
                    email: {{person.email}}
                    age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>-->
             
                                </div>
                            </div>

                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default col-sm-2 col-sm-offset-4" ng-click="$close()">Back</button>
              <button type="button" class="btn btn-primary col-sm-2" ng-disabled="editObjectiveForm.$invalid" ng-click="editObj()">Save</button>
          </div>
      