
          <div class="modal-header">
              <h4>Edit Tags<button type="button " ng-click="$close()" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>


          <div class="modal-body">
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" name="editTagForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="title" class="col-sm-3 control-label sub-title">Title</label>
                                <div class="col-sm-6">
                                  <input id="title" type="text" required="" class="form-control" maxlength="30" value="{{item.title}}" ng-model="item.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="desc" class="col-sm-3 control-label sub-title">Description</label>
                                <div class="col-sm-6">
                                  <textarea id="desc" type="text" required="" value="{{item.description}}" class="form-control" ng-model="item.description"></textarea> 
                                </div>
                            </div>
                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default col-sm-2 col-sm-offset-4" ng-click="$close()">Back</button>
              <button type="button" class="btn btn-primary col-sm-2" ng-disabled="editTagForm.$invalid" ng-click="editObj()">Save</button>
          </div>
      