   <!--  <div ng-controller="LoginCtrl" ng-cloak>
    
    <ng-include src="getPartial()" onload="navDetails()"></ng-include>
 -->
<div class="am-content home-page">
        <!--<div ng-include src="'partials/breadcrum.html'"></div> -->


          <!--first part-->
          <div class="panel panel-default">
            <section class="page-aside" style="background-color:#fff; ">
                <div class="search-section">
                    <div class="input-group xs-mb-15">
                        <input type="search" class="form-control" ng-model="search"><span class="input-group-addon"><span class="icon s7-search"></span></span>
                    </div>
                </div>

                <div class="name-section">
                  <ul class="emp-list" >
                    <li id="list{{emp.id}}" style="margin-left:0" ng-repeat="emp in allEmpList | filter:search"  ng-click="select($index,emp)" ng-class="{'classSelected active': $index == selected}">
                      <div class="user-img col-md-3 col-sm-4 col-xs-3"> <img ng-src="{{emp.profile_image ? emp.profile_image : 'img/avatar4.jpg'}}"></div>

                      
                      <div class="user-info col-md-9 col-sm-9 col-xs-9">
                        <p class="title">{{emp.firstname ? emp.firstname:'--' | capitalize}} {{emp.lastname ? emp.lastname:'--' | capitalize}}</p>
                        <p class="sub-title">{{emp.department ? emp.department:'--'}} <br/> {{emp.location ? emp.location:'--' | capitalize}}  
                            <!-- <button class="btn btn-primary add-pin-btn pull-right" ng-click="addPin()"> Pin </button> -->
                        </p>
                      </div>
                    </li>
                </ul>
                </div>              
            </section>

            <!-- second part -->


            <section class="col-sm-8 col-sm-offset-3">
                <div class="panel-body">
                        <div class="page-head">
                          <div class="row">
                              <div class="col-sm-4" style="margin-left:3%;">
                                  <fieldset style="border:none">
                                    <legend style="padding:0">Employee Status</legend>
                                      <div class="widget mywidget col-sm-12 my{{u_role1}}">
                                          <div class="data-info active-emp col-sm-5">
                                            <div class="value title">{{activate}}</div>
                                            <small class="desc sub-title">Active</small>
                                          </div>

                                          <div class="data-info deactive-emp col-sm-5 pull-right">
                                            <div class="value title">{{deactive}}</div>
                                            <small class="desc sub-title">Deactivated</small>
                                          </div>
                                    </div>
                                  </fieldset>
                              </div>

                              <div class="col-sm-6 pull-right">
                                    <fieldset>
                                    <legend>Import Employee</legend>
                                      <div class="widget mywidget col-sm-12">
                                        <button class="col-sm-5 btn btn-primary" style="margin:3% 0" data-toggle="modal" data-target="#add-emp" data-backdrop="static" 
   data-keyboard="false">Add Employee</button> 

                                       
                                        <div  class="col-sm-5  btn btn-primary pull-right" style="margin:3% 0" data-toggle="modal" data-target="#import" data-backdrop="static" 
   data-keyboard="false">
                                          <span>Import from CSV</span> 
                                        </div>

<!--Model for import -->
<div id="import" class="modal fade" role="dialog">
  <div class="modal-dialog margin-top-100 login-modal-content">
     <form name="upload" class="form" data-ng-submit="addFile()">
    <div class="modal-content ">
      <div class="modal-header col-md-12 ">
      <h5 class="col-xs-8" style="font-size: 1.2em"><strong>Import</strong></h5>      
        <button type="button" class="close col-xs-2" data-dismiss="modal">&times;</button>        
      </div>

              <div class="modal-body overflow-hidden col-md-8 col-md-offset-4"> 
              <p class="align-center">Please Import CSV file only</p>       
                 <div class="col-sm-5 fileUpload btn btn-primary ">
                                                <!-- new custom file button  -->
                                                        <span>Import from CSV</span> 
                                                <!-- new custom file button -->
                                                
                                    <input type="file" id="upload" name="file" multiple style="max-width: 100%;" accept=".csv" onchange="angular.element(this).scope().uploadedFile(this)" class="upload" />
                                  <br/>
               </div>


  
 

               
      </div>

      <div class="modal-footer"> 
        <div class="form-group text-center">
            <button type="button" class="btn orange-bg-color white" data-dismiss="modal">Close</button>
           <!--  <input type="submit" class="btn orange-bg-color white" value="Upload" ng-click="uploadFiles($files)"> -->
            <button type="submit"  class="btn orange-bg-color white">Upload </button>
        </div>      
       
      </div>
    </div>
    </form>
  </div>
</div>
  <!-- Model for import-->
                                    </div>

                                  </fieldset>
                              </div>
                          </div>
                        </div>
                  <div class="row" ng-if="selDisplay">
                  <br/>
                   <!-- begin comment -- >
                 <!--    <div class="col-sm-4 col-sm-offset-4 profile-img" style="background-image:url('{{selDisplay.profile_image ? selDisplay.profile_image : 'img/avatar4.jpg'}}')">
                         <i class="icon-th s7-pen pull-right editCoverImageOnHover" style="padding-top:4%;color:blue;font-size:20px" data-toggle="modal" data-target="#edit-profile" ></i>

                          <p style="display:true">{{imgProfileOrg}}</p>


                    </div> -->

                     <div class="row">
                     <div class="col-xs-4 col-md-4"><p>&nbsp;</p></div>
                     <!-- <div class="col-sm-4 profile-img " style="margin-left:8%;text-align:center;"> -->
                     <div class="col-sm-4 profile-img " style="text-align:center;">
                      <div class="hovereffect">
                      <img  class="" src= "{{selDisplay.profile_image ? selDisplay.profile_image : 'img/avatar4.jpg'}}" style="height:19em;"alt="" />

                         <div class="overlay">
                        <h2>Edit profile image</h2>
                        <a class="info"  data-toggle="modal" data-target="#edit-profile">Click here to edit profile image</a>
                        </div><br/>
                        </div>
                          <p style="display:true">{{imgProfileOrg}}</p>
                        </div>
                      <div class="col-sm-4"><p>&nbsp;</p></div>

                     <!-- begin comment -- >
<!-- Profile image upload modal -->       
<div id="edit-profile" class="modal fade" role="dialog">
  <div class="modal-dialog margin-top-100 login-modal-content">
   <form>
    <div class="modal-content">
      <div class="modal-header col-md-12">
      <h5 class="col-xs-8" style="font-size: 1.2em"><strong>Upload your profile picture</strong></h5>      
        <button type="button" class="close col-xs-2" ng-disabled="isUploading" data-dismiss="modal" ng-click="clear()">&times;</button>        
      </div>

      <div class="modal-body overflow-hidden col-md-12"> 
      <div class="row col-sm-offset-4">

      <p class="align-center">Please upload an image less than 1MB</p></div>       

        <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">
        <div class="row col-sm-offset-5">
            <button name="fileProfile" id="fileProfile" ng-click="profileImgUpload()" class="fileUpload align-center btn  col-md-3 col-sm-3" flow-btn type="file" style="margin-top:0!important;" singleFile ng-disabled="isUploading">Browse</button>
            </div>
       
            <div class="row">
                <div ng-repeat="image in uploader.flow.files track by $index" class="col-sm-4 col-sm-offset-3" style="margin-top:4%;">
                    <!--<span class="text">Blob image displayed with "flow-img"</span>-->
                    <img id="imgUpload" ng-show="!imgSizeRestrict" class="preview" flow-img="image"  height="200"/><br>
                    <!--<span class="text">Base64 image displayed with "ng-src"</span> 
                    <img class="preview" ng-src="{{imageStrings[$index]}}" width="130" height="130"/>-->                
                    
                </div>
                 <div id="errText" class="err col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3" style="margin-top: 10%!important;">            
            </div>
        </div>

            <input type="text" id="profileImg" value="{{imageStrings}}" hidden="true"/>
               <input type="text" id="typeoffile" value="{{typeofFile}}" hidden="true"/>
               <input type="text" id="nameoffile" value="{{nameoffile}}" hidden="true"/>
        </div>
               
      </div>

      <div class="modal-footer"> 
        <div class="form-group text-center">
            <p ng-show="isUploading" class="errorSpan">Your file upload is in process,please do not refresh this page.</p>

            <button type="button" class="btn btn-primary white" data-dismiss="modal" ng-click="clear()" ng-disabled="isUploading">Close</button>

            <input type="submit" id="fileUploadBtn" class="btn btn-primary white" value="Upload" ng-disabled="isUploading" ng-click="saveProfile(selDisplay.id)" style="display:none;">
        </div>      
       
      </div>
    </div>
    </div>
  </form>
</div>
<!-- Profile image upload modal -->
                  </div>
                   
                

                <div class="row">
                  <h2 class="text-center title">{{selDisplay.firstname ? selDisplay.firstname:'NAME' | capitalize}} {{selDisplay.lastname ? selDisplay.lastname:'NAME' | capitalize}}</h2><br/>

                  <form role="form" class="col-sm-offset-2 col-sm-8">
                    <div class="form-group row">
                      <label class="col-sm-6 sub-title text-right">DEPARTMENT</label>
                      <div class="col-sm-6">
                        <p class="title"> {{selDisplay.department ? selDisplay.department:'DEPARTMENT'}} </p>
                      </div>
                    </div>

                     <div class="form-group row">
                      <label class="col-sm-6 sub-title text-right">LOCATION</label>
                      <div class="col-sm-6">
                        <p class="title"> {{selDisplay.location ? selDisplay.location:'LOCATION' | capitalize}} </p>
                      </div>
                    </div>

                     <div class="form-group row">
                      <label class="col-sm-6 sub-title text-right">EMPLOYEE ID</label>
                      <div class="col-sm-6">
                        <p class="title"> {{selDisplay.employee_id ? selDisplay.employee_id:'ID'}} </p>
                      </div>
                    </div>

                     <div class="form-group row">
                      <label class="col-sm-6 sub-title text-right">EMAIL</label>
                      <div class="col-sm-6">
                        <p class="title"> {{selDisplay.email ? selDisplay.email:'EMAIL'}}</p>
                      </div>
                    </div>

                    <div class="form-group row">
                        <div class="spacer text-center row">
                          <button class="btn btn-default col-sm-2 col-sm-offset-4" ng-click="deactivateEmp(selDisplay.id)" ng-if="selDisplay.enabled == true">Deactivate</button>


                          <button class="btn btn-default col-sm-2 col-sm-offset-4" ng-click="activateEmp(selDisplay.id)" ng-if="selDisplay.enabled == false">Activate</button>

                          <button class="btn btn-primary col-sm-2 col-sm-offset-1" data-toggle="modal" data-target="#edit-emp" data-backdrop="static" 
   data-keyboard="false">Edit</button>

                          
                        </div>
                    </div>
                  </form>

                  
            <!-- Modal -->
<div id="add-emp" tabindex="-1" role="dialog" class="modal fade" style="padding-right:0 !important;">
    <div class="modal-dialog full-width">
      <div class="modal-content">

        <div class="modal-header">
          <h4>Add Employee

          <button type="button" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button>
          </h4>
        </div>

        <div class="modal-body">
          <div class="content row">
            <form role="form"  name="addEmpForm" class="form-horizontal">

              <div class="form-group row">
                <label for="firstName" class="col-sm-3 control-label sub-title">First Name <span class="errorSpan" ng-show="addEmpForm.firstName.$error.required">*</span></label>

                <div class="col-sm-6">
                   <input id="firstName" type="text" required="" class="form-control" ng-pattern="/^[a-zA-Z]*$/" ng-model="register.firstname"  name="firstName">

                    <span class="errorSpan " ng-if="addEmpForm.firstName.$error.pattern && addEmpForm.firstName.$invalid">Please enter correct format.</span>
                </div> 
              </div>

              <div class="form-group row">
                <label for="lastName" class="col-sm-3 control-label sub-title">Last Name <span class="errorSpan " ng-show="addEmpForm.lastName.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input id="lastName" name="lastName" type="text" required="" class="form-control"  ng-pattern="/^[a-zA-Z]*$/" ng-model="register.lastname">

                  <span class="errorSpan " ng-if="addEmpForm.lastName.$error.pattern && addEmpForm.lastName.$invalid">Please enter correct format.</span>
                </div>
              </div>

              <div class="form-group row">
                <label for="dept" class="col-sm-3 control-label sub-title">Department <span class="errorSpan" ng-show="addEmpForm.dept.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input id="dept" type="text" name="dept" required="" class="form-control" ng-model="register.department">
                </div>
              </div>

              <div class="form-group row">
                <label for="location" class="col-sm-3 control-label sub-title">Location <span class="errorSpan" ng-show="addEmpForm.location.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input id="location" type="text" name="location" required="" class="form-control" ng-model="register.location">
                </div>
              </div>


              <div class="form-group row">
                <label for="empId" class="col-sm-3 control-label sub-title">Employee ID <span class="errorSpan"  ng-show="addEmpForm.empId.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input id="empId" name="empId" type="text" maxlength="10" ng-pattern="/^[0-9]{1,10}$/" required="" class="form-control" ng-model="register.employee_id">
                  <span class="errorSpan " ng-if="addEmpForm.empId.$error.pattern && addEmpForm.empId.$invalid">Accept only Numbers.</span>
                </div>
              </div>


              <div class="form-group row">
                <label for="email" class="col-sm-3 control-label sub-title">Email <span class="errorSpan" ng-show="addEmpForm.email.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input id="email" name="email" type="email" required="" class="form-control" ng-model="register.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" >
                </div>
                  <span class="errorSpan col-sm-2" ng-show="addEmpForm.email.$error.pattern">Enter correct format.</span>
              </div>


              <div class="form-group row">
                <label for="username" class="col-sm-3 control-label sub-title">Username <span class="errorSpan" ng-show="addEmpForm.username.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input id="username" type="text" name="username" readonly="" class="form-control" ng-model="register.email">
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="modal-footer row">
          <button type="button" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
          <button type="button" class="btn btn-primary col-sm-2" ng-click="registerUser()" data-dismiss="modal" ng-disabled="addEmpForm.$invalid">Save</button>
        </div>
      </div>
    </div>
</div>
              <!-- Modal -->

<!-- Edit Modal -->
<div id="edit-emp" tabindex="-1" role="dialog" class="modal fade" style="padding-right:0 !important;">
    <div class="modal-dialog full-width">

      <div class="modal-content">
          <div class="modal-header">
            <h4>Edit Employee <button type="button" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>

          <div class="modal-body">
           <!--  <div class="row ">
              <div class="col-sm-4 col-sm-offset-4 profile-img"></div>
            </div> -->

            <!-- <div class="content row" ng-init="editVal = selDisplay"> -->
            <div class="content row">
              <form role="form"  name="editEmpForm" class="form-horizontal">

                <div class="form-group row">
                  <label for="firstName" class="col-sm-3 control-label sub-title">First Name <span class="errorSpan" ng-show="editEmpForm.firstName.$error.required">*</span></label>
                  <div class="col-sm-6">
                    <input id="firstName" type="text" required="" class="form-control" ng-model="editVal.firstname"  name="firstName">
                  </div>             
                </div>

                <div class="form-group row">
                  <label for="lastName" class="col-sm-3 control-label sub-title">Last Name <span class="errorSpan" ng-show="editEmpForm.lastName.$error.required">*</span></label>
                  <div class="col-sm-6">
                    <input id="lastName" name="lastName" type="text" required="" class="form-control" ng-model="editVal.lastname">
                  </div>
                </div>
                                      

                <div class="form-group row">
                  <label for="dept" class="col-sm-3 control-label sub-title">Department <span class="errorSpan" ng-show="editEmpForm.dept.$error.required">*</span></label>
                  <div class="col-sm-6">
                    <input id="dept" type="text" name="dept" required="" class="form-control" ng-model="editVal.department">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="location" class="col-sm-3 control-label sub-title">Location <span class="errorSpan" ng-show="editEmpForm.location.$error.required">*</span></label>
                  <div class="col-sm-6">
                    <input id="location" type="text" name="location" required="" class="form-control" ng-model="editVal.location">
                  </div>
                </div>

                <!-- <div class="form-group row">
                  <label for="email" class="col-sm-3 control-label sub-title">Email <span class="errorSpan" ng-show="editEmpForm.email.$error.required">*</span></label>
                  <div class="col-sm-6">
                    <input id="email" name="email" type="email" required="" class="form-control" ng-model="selDisplay.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" >
                  </div>
                    <span class="errorSpan col-sm-2" ng-show="editEmpForm.email.$error.pattern">Enter correct format.</span>
                </div> -->
                
              </form>
            </div>
          </div>

          <div class="modal-footer row">
            <button type="button" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
            <button type="button" class="btn btn-primary col-sm-2" ng-click="updateUser(editVal)" data-dismiss="modal" ng-disabled="editEmpForm.$invalid">Update</button>
          </div>
      </div>
    </div>
</div>
              <!-- Modal -->


                </div>
                </div>
            </section>
          </div>
      
</div>


<!--  <script type="text/javascript">
  $(function(){
    $("#add-emp").on("hidden.bs.modal", function(){
      $(".form-group input").val("");
      $(".form-group textarea").val("");
    });
  })
</script>  -->