  <section class="am-splash-screen">
    <div class="am-wrapper am-login">
      <div class="am-content">
        <div class="main-content">
          <div class="login-container">

  <div class="panel-default">
      <div class="panel-heading">
        <img src="img/pin_logo.png" alt="logo" class="logo-img"><span>Login to Pin</span>
      </div>

      <div class="panel-body">
        <form method="get" class="form-horizontal" name="loginForm">
          <div class="login-form">

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon s7-user"></i></span>
                <input id="username" ng-model="userName" type="text" placeholder="Username" autocomplete="off" class="form-control" autofocus="true" name="username" required="">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon s7-lock"></i></span>
                <input id="password" ng-model="passWord" type="password" placeholder="Password" class="form-control" name="password" required="">
              </div>
            </div>

            <div class="form-group login-submit">
              <button type="submit" class="btn btn-red btn-lg" ng-disabled="loginForm.$invalid" ng-click="login()">Log me in</button>
            </div>

            <div class="form-group footer row">
              <div class="remember">  <a data-toggle="modal" data-target="#forgotModal" style="cursor:pointer">Forgot password?</a></div>
             <!--  <div class="col-xs-6 remember">
                <label for="remember">Remember Me</label>
                <div class="am-checkbox">
                  <input type="checkbox" id="remember">
                  <label for="remember"></label>
                </div>
              </div> -->
            </div>

          </div>
        </form>
      </div>
  </div>

<!-- Forgot password modal -->

<div id="forgotModal" class="modal fade" role="dialog">
  <div class="modal-dialog margin-top-100">
   <form role="form"  name="fgtEmpForm" class="form-horizontal">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" >Forgot your password?</h3>
      </div>
      <div class="modal-body overflow-hidden">

        <div class="col-md-11 col-md-offset-1">
          <p>Please enter the email address for your account. A verification LINK will be sent to you. Once you have received the verification link, you will be able to choose a new password for your account.</p>
             <div class="form-group">
             
                  <label for="username-email">Email<span class="errorSpan" ng-show="fgtEmpForm.email.$error.required">*</span></label>
                  <input value="" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email"  ng-model="resetEmail" id="resetEmail" placeholder="email" type="text" required class="form-control">
                   <span class="errorSpan " ng-show="fgtEmpForm.email.$error.pattern">Enter correct format.</span>
                  
              </div>              
        </div>

        <div class="form-group text-center">
            <a type="button" id="resetbtn" ng-disabled="fgtEmpForm.$invalid" ng-click="resetPasswordSend()" class="btn btn-primary" >Send</a>            
        </div>
       
      </div>

      <div class="modal-footer">
        
       <!--  <div >
          Don't have an account! 
          <a ui-sref="signup">Sign Up Here </a>
        </div> -->
      </div>
    </div>
    </form>
  </div>
</div>

<!-- Forgot password modal -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>