<!-- 
<div ng-controller="LoginCtrl" ng-cloak>
  <ng-include src="getPartial()"></ng-include> -->
  <script type="text/javascript" src="lib/jasny-bootstrap.min.js"></script>

   

<div class="am-content objectives-page" ng-cloak >
        <div class="page-head ">
          <div class="page-title col-lg-4">
            <h3>Objectives</h3> 
          </div>

          <div class="row top-btn">
            <button class="btn btn-primary add-obj-button col-xs-3 col-xs-offset-5" ng-click="getMeta1()">Add Objective</button>

            <button class="btn btn-primary col-xs-3" data-toggle="modal" data-target="#import"  data-backdrop="static" data-keyboard="false" style="margin-left:1.5%; width:11%" >Import from CSV</button>

          </div>


        </div>
            
<!--Model for import -->
<div id="import" class="modal fade" role="dialog">
  <div class="modal-dialog margin-top-100 login-modal-content">
    <form name="upload" class="form" data-ng-submit="addFile()">

    <div class="modal-content">

      <div class="modal-header col-md-12">
        <h5 class="col-xs-8" style="font-size: 1.2em"><strong>Import</strong></h5>      
        <button type="button" class="close col-xs-2" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body overflow-hidden col-md-8 col-md-offset-4"> 
        <p class="align-center">Please Import CSV file only</p>       
        <div class="col-sm-5 fileUpload btn btn-primary ">
          <!-- new custom file button  -->
            <span>Import from CSV</span>        
            <input type="file" id="upload" name="file" multiple style="max-width: 100%;" accept=".csv" onchange="angular.element(this).scope().uploadedFile(this)" class="upload" />
            <br/>
        </div> 
      </div>

      <div class="modal-footer"> 
        <div class="form-group text-center">
            <button type="button" class="btn orange-bg-color white" data-dismiss="modal">Close</button>
           <!--  <input type="submit" class="btn orange-bg-color white" value="Upload" ng-click="uploadFiles($files)"> -->
            <button type="submit"  class="btn orange-bg-color white">Upload </button>
        </div>      
       
      </div>
    </div>
    </form>
  </div>
</div>
<!-- Model for import--> 
       
            <!--Responsive table-->
        <div class="panel panel-default">    
          <div class="panel-body">      
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr class="row">
                        <th class="col-sm-1">Sr. No</th>
                        <th class="col-sm-2">Objective</th>
                        <th class="col-sm-4">Description</th>
                        <th class="col-sm-3">Tags</th>
                        <th class="col-sm-1">Actions</th>
                        <th class="col-sm-2"></th>
                      </tr>
                    </thead>
                    <tbody class="no-border-x">
                      <tr class="row" ng-repeat="obj in allObj1 track by $index">


                      
                        <!-- <td class="col-sm-1" ng-hide="editMode">{{$index + 1}}</td> -->
                        <td class="col-sm-1" ng-hide="editMode">{{$index + 1}}</td>

                        <td class="col-sm-2" ng-hide="editMode">{{obj.title ? obj.title :'Title' | capitalize}}</td>

                        <td class="col-sm-4" ng-hide="editMode" style="word-wrap: break-word;">{{obj.description ? obj.description :'Desc' | capitalize}}</td>
                        <td class="col-sm-3" ng-hide="editMode">
                          <span ng-repeat="tag in obj.tagList">{{tag.tagTitle ? tag.tagTitle +',':'Tag title'}} </span>
                        </td>

                         <td class="col-sm-2" ng-click="editMode = true;getIdofObj(obj.id)" ng-hide="editMode">
                          <button class="btn btn-primary" style="border-radius:3px; padding:2%">
                            <span class="icon s7-pen" style="color:#fff"></span>
                          </button>
                        </td>

                        <td class="col-sm-1" ng-click="deleteObj(obj.id)" ng-hide="editMode">
                          <button class="btn btn-primary" style="border-radius:3px; padding:2%">
                            <span class="icon s7-trash" style="color:#fff;"></span>
                          </button>
                        </td>
                       



                        <td class="col-sm-1" ng-show="editMode">{{$index + 1}}</td>
                        <td class="col-sm-2" ng-show="editMode"> 
                          <input type="text" class="form-control" no-special-char ng-model="obj.title">
                        </td>
                        <td class="col-sm-4" ng-show="editMode">
                          <input type="text" class="form-control" no-special-char ng-model="obj.description">
                        </td>
                        <td class="col-sm-3" ng-show="editMode">
                        
                             <select autocomplete="off" id="mySel{{obj.id}}" name="tags1" class="form-control myTags" multiple="multiple" style="width:100%" >
                                <option ng-repeat="item in allObj1[$index].selectTagList" ng-selected="{{item.selected == true}}" value="{{item.id}}">{{item.tagTitle}}</option>
                            </select>
                      
                        </td>
                        <td class="col-sm-1" ng-click="updateObj(obj)" ng-show="editMode">
                          <button class="btn btn-primary" style="border-radius:3px; padding:2%;">
                            <span class="icon s7-check" style="color:#fff;"></span>
                          </button>
                        </td>
                        <td class="col-sm-2" ng-show="editMode">
                          <button class="btn btn-primary"  ng-click="editMode = false" style="border-radius:3px; padding:2%">
                            <span class="icon s7-close" style="color:#fff;"></span>
                          </button>
                        </td>
                        
                      </tr>

                
                    </tbody>
                  </table>
              </div>
          </div>      
        </div>        
</div><!-- end am content -->

<!-- Add Modal -->
<div id="addObjModal" tabindex="-1" role="dialog" class="modal fade">
<script type="text/javascript">
  
  
    $("#mySel2").select2({
      closeOnSelect:false,
      placeholder: 'Enter tags'
    });
 

</script>

  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Add Objective <button type="button" ng-click="resetModal()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>


          <div class="modal-body">
    
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" name="addObjForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="title" class="col-sm-3 control-label sub-title">Title <span class="errorSpan" ng-show="addObjForm.title.$error.required">*</span>
                                </label>
                                <div class="col-sm-6">
                                  <input id="title" no-special-char type="text" required="" name="title" class="form-control" maxlength="30" ng-model="register.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label sub-title">Description <span class="errorSpan" ng-show="addObjForm.description.$error.required">*</span>
                                </label>
                                <div class="col-sm-6">
                                  <textarea id="description" name="description" type="text" required="" no-special-char class="form-control" ng-model="register.description"></textarea> 
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label sub-title">Related Tags <span class="errorSpan" ng-show="addObjForm.tags.$error.required">*</span>
                                </label>
                                <div class="col-sm-6">
                                  <!-- <select id="sel" class="form-control" select2 name="country" multiple="multiple" select-selection="client.primary_address.country" select-options="name in client.countries" style="width:100% !important;" ng-model="register.tag">
                                    <option value="">Select Country</option>
                                  </select> -->

                                  <!-- <select class="form-control" multiple="multiple" select-2 name="country" data-ng-model="client.primary_address.country" ng-options="c.name as c.name for c in client.countries" ng-disabled="disabled">
                                    <option value="">Select Country</option>
                                  </select> -->
                            <select id="mySel2" name="tags" class="form-control" multiple="multiple" style="width:100%" ng-model="register.tagIds" name="tags">
                                <option ng-repeat="item in allTags" ng-selected="item.selected" value="{{item.id}}">{{item.tagTitle}}</option>
                            </select>
                                </div>
                            </div>
                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer">
              <button type="button" ng-click="resetModal()" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
              <button type="button" data-dismiss="modal" ng-click="addObj(item)"   class="btn btn-primary col-sm-2" ng-disabled="addObjForm.$invalid" >Save</button>
          </div>
      </div>
  </div>
</div>






</div> <!-- end login div -->

