<!--     <div ng-controller="LoginCtrl" ng-cloak>
      <ng-include src="getPartial()"></ng-include> -->
    

<div class="am-content ratings-page">
        <div class="page-head">
          <div class="page-title col-lg-6">
            <h3>Ratings</h3> 
          </div>
           <div class="row top-btn">
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addRatingsModal" data-backdrop="static" 
   data-keyboard="false">Add Rating</button>
        </div>
        </div>

       
        <div class="panel panel-default">
          <div class="panel-body">
            <!--Responsive table-->
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr class="row">
                        <th class="col-sm-2">Rating Value</th>
                        <th class="col-sm-2">Title</th>
                        <th class="col-sm-4">Description</th>
                        <th class="col-sm-2">Hex Value</th>
                        <!--mobile devs already have assets
                         <th class="col-sm-2">Asset On</th>
                        <th class="col-sm-2">Asset Off</th> -->
                        <th class="col-sm-2">Actions</th>
                        
                      </tr>
                    </thead>
                    <tbody class="no-border-x">
                     <tr class="row" ng-repeat="rate in allRatings | orderObjectBy:'ratingValue'">
                        <!-- normal mode -->
                        <td class="col-sm-1" ng-hide="editMode">{{rate.ratingValue}}</td>

                        <td class="col-sm-2" ng-hide="editMode" >{{rate.ratingTitle ? rate.ratingTitle :'Ratings title' | capitalize}}</td>

                        <td class="col-sm-4" style="word-wrap: break-word;" ng-hide="editMode">{{rate.ratingDescription ? rate.ratingDescription :'Ratings description' | capitalize}}</td>

                        <td class="col-sm-2" ng-hide="editMode">{{rate.hexvalue}}</td>

                        <td class="col-sm-2" ng-click="editMode = true" ng-hide="editMode">
                          <button class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-pen" style="color:#fff"></span>
                          </button>
                        </td>

                        <td class="col-sm-1" ng-click="deleteRating(rate.id)" ng-hide="editMode" >
                          <button class="btn btn-primary" style="border-radius:3px;" ng-disabled="rate.ratingValue == 0">
                            <span class="icon s7-trash" style="color:#fff; font-size:18px;"></span>
                          </button>
                        </td>
                        <!-- normal mode -->

                        <!-- edit mode -->
                        <td class="col-sm-1" ng-show="editMode">
                          <input type="text" ng-disabled="rate.ratingValue == 0" class="form-control" numbers-only ng-model="rate.ratingValue"/>
                        </td>

                        <td class="col-sm-2" ng-show="editMode">
                          <input type="text" class="form-control" no-special-char ng-model="rate.ratingTitle"/>
                        </td>
                        <td class="col-sm-4" ng-show="editMode">
                          <input type="text" class="form-control" no-special-char ng-model="rate.ratingDescription"/>
                        </td>
                        <td class="col-sm-2" ng-show="editMode">
                          <input type="text" class="form-control" ng-model="rate.hexvalue" maxlength="7" />
                        </td>

                        <td class="col-sm-1" ng-click="updateRating(rate)" ng-show="editMode" >
                          <button class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-check" style="color:#fff;" ></span>
                          </button>
                        </td>

                        <td class="col-sm-2" ng-click="editMode = false" ng-show="editMode">
                          <button class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-close" style="color:#fff"></span>
                          </button>
                        </td>

                        <!-- edit mode -->
                        
                      </tr>

                    </tbody>
                  </table>
                </div>
          </div>
        </div>
</div>

<!-- Modal -->
<div id="addRatingsModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Add Ratings
              <button type="button cancel" ng-click="resetModal()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>


          <div class="modal-body">
                                <!--<div class="text-center">
                                  <div class="i-circle text-primary"><i class="icon s7-check"></i></div>
                                  <h4>Awesome!</h4>
                                  <p>Changes has been saved successfully!</p>
                                </div>-->
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" name="addRatingForm" class="form-horizontal">

                            <!-- <div class="form-group">
                                <label for="ratings" class="col-sm-3 control-label sub-title">Set ID <span class="errorSpan" ng-show="addRatingForm.setID.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rtitle" type="text" name="setID" required="" class="form-control" ng-model="ratings.setID">
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label for="ratings" class="col-sm-3 control-label sub-title">Rating Title <span class="errorSpan" ng-show="addRatingForm.title.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rtitle" type="text" name="title" ng-pattern="/^[a-zA-Z\s]*$/" required="" no-special-char class="form-control" ng-model="ratings.ratingTitle">
                                    <span class="errorSpan " ng-if="addRatingForm.title.$error.pattern && addRatingForm.title.$invalid">
        Please enter correct format.
      </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="desc" class="col-sm-3 control-label sub-title">Rating Description <span class="errorSpan" ng-show="addRatingForm.desc.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <textarea id="rdesc" type="text" no-special-char name="desc" required="" class="form-control" ng-model="ratings.ratingDescription"></textarea> 
                                </div>
                            </div>


                            <div class="form-group">
                                <!-- <label for="ratings" class="col-sm-3 control-label sub-title">Rating Value <span class="errorSpan" ng-show="addRatingForm.val.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rval" type="text" required="" name="val" class="form-control" ng-model="ratings.ratingValue">
                                </div> -->
                                 <label for="ratings" class="col-sm-3 control-label sub-title">Rating <span class="errorSpan" ng-show="addRatingForm.val.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rval" type="text" required="" class="form-control" ng-model="ratings.ratingValue" name="val" numbers-only >
                                </div>
                                <span class="errorSpan" ng-show="addRatingForm.val.$error.pattern">Enter digits only</span>
                            </div>


                            <div class="form-group">
                                <label for="ratings" class="col-sm-3 control-label sub-title">Hex Value <span class="errorSpan" ng-show="addRatingForm.hex.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rhex" type="text" required="" class="form-control" ng-model="ratings.hexvalue" name="hex"  maxlength="6" minlength="3">
                                </div>
                                <!-- <span class="errorSpan" ng-show="addRatingForm.hex.$error.pattern">Enter digits only</span> -->
                            </div>

                          <!--   <div class="form-group">
                                <label for="ratings" class="col-sm-3 control-label sub-title">Asset On <span class="errorSpan" ng-show="addRatingForm.assetOn.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rtitle" type="text" name="assetOn" required="" class="form-control" ng-model="ratings.assetOn">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ratings" class="col-sm-3 control-label sub-title">Asset Off <span class="errorSpan" ng-show="addRatingForm.assetOf.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rtitle" type="text" name="assetOf" required="" class="form-control" ng-model="ratings.assetOf">
                                </div>
                            </div>
 -->
                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer">
              <button type="button cancel" ng-click="resetModal()" data-dismiss="modal" class="btn btn-default col-sm-2 col-sm-offset-4">Back</button>
              <button type="button" ng-click="addRating()" data-dismiss="modal" class="btn btn-primary col-sm-2" ng-disabled="addRatingForm.$invalid">Save</button>
          </div>
      </div>
  </div>
</div>
<!-- Modal -->
<!-- <script type="text/javascript">
  $(function(){
    $(".modal").on("hidden.bs.modal", function(){
      $(".form-group input").val("");
      $(".form-group textarea").val("");
    });
  })
</script> -->
