  <!--   <div ng-controller="LoginCtrl">
   
      <ng-include src="getPartial()"></ng-include> 
     -->

<div class="am-content report-page">
        <div class="page-head">
          <div class="page-title">
            <h3>Reports</h3> 
          </div>
        </div>

  <div class="panel panel-default">
    <div class="panel-body row">
      <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                      <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Custom Reports</span>
                    </div>
                    
                    <div class="panel-body">
                      <div id="area-chart1" style="height: 250px;"></div>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                      <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Executive Reports</span>
                    </div>
                    
                    <div class="panel-body">
                      <div id="area-chart2" style="height: 250px;"></div>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                      <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Manager Reports</span>
                    </div>
                    
                    <div class="panel-body">
                      <div id="area-chart3" style="height: 250px;"></div>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                      <div class="tools"><span class="icon s7-upload"></span><span class="icon s7-edit"></span><span class="icon s7-close"></span></div><span class="title">Employee Reports</span>
                    </div>
                    
                    <div class="panel-body">
                      <div id="area-chart4" style="height: 250px;"></div>
                    </div>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
        //initialize the javascript
        App.chartsMorris();
  });
        
</script>
