
  <section class="am-splash-screen">
  
    <div class="am-wrapper am-login">
      <div class="am-content">
        <div class="main-content">
          <div class="login-container">

  <div class="panel-default">
      <div class="panel-heading">
        <img src="img/pin_logo.png" alt="logo" class="logo-img"><span>Reset Password</span>
      </div>

      <div class="panel-body">
        <form method="get" class="form-horizontal" name="loginForm">
          <div class="login-form">

            <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="icon s7-lock"></i></span>
 <span class="errorSpan" ng-show="form_resetPassword.inputPassword.$error.required && form_resetPassword.inputPassword.$invalid"> * </span>
                  <div class="col-sm-6">
                      <input type="password" ng-model="password" ng-minlength="6" class="form-control" style="" name="inputPassword" placeholder="Password" id="" ng-change="formSubmit1();" required>
                  </div>
                    
                  <span class="errorSpan" ng-show="form_resetPassword.inputPassword.$dirty && form_resetPassword.inputPassword.$invalid">
                    Password should have more than 5 characters.
                  </span>

                 <span class="errorSpan" ng-show="form_resetPassword.inputPassword.$error.required && clickedBtn"> This field is compulsary</span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                              <span class="input-group-addon"><i class="icon s7-lock"></i></span>

                 <span class="errorSpan" ng-show="form_resetPassword.r_password.$error.required && form_resetPassword.r_password.$invalid"> * </span>
                  <div class="col-sm-6">
                      <input type="password" ng-model="confPassword" class="form-control" style=""  name="r_password" placeholder="Confirm"  ng-change="formSubmit();" required>


                  </div>
                  
                  <span class="errorSpan" ng-show="form_resetPassword.confPassword.$dirty || (password != confPassword)">
                    Password doesn't match.
                  </span>

                  <span class="errorSpan" ng-show="form_resetPassword.confPassword.$error.required"> This field is compulsary</span>
              </div>
            </div>

            <div class="form-group login-submit">
              <button type="submit" class="btn btn-red btn-lg" ng-disabled="loginForm.$invalid" ng-click="updatePassword()">Reset Password</button>
            </div>


          </div>
        </form>
      </div>
  </div>



          </div>
        </div>
      </div>
    </div>
  </section>