<!--     <div ng-controller="LoginCtrl" ng-cloak>
  
      <ng-include src="getPartial()"></ng-include> -->
    

<div class="am-content settings-page">
        <div class="page-head">
          <div class="page-title">
            <h3>Settings</h3> 
          </div>
        </div>

      
        <div class="panel panel-default">
                <div class="panel-body">
                  <form name="settings-form" action="#" style="border-radius: 0px;" class="group-border-dashed">

                   <!-- <div class="panel-heading">
                      <h5 class="col-sm-offset-3">Pin Cycle</h5>
                   </div>

                    <section class="pin-cycle row">
                        <div class="form-group col-sm-8 col-sm-offset-3">
                          <label class="col-sm-3 control-label"> Start Date </label>
                          <div class="col-sm-4">
                            <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker" id="startDate">
                              <input size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group col-sm-8 col-sm-offset-3">
                          <label class="col-sm-3 control-label"> End Date </label>
                          <div class="col-sm-4">
                            <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker" id="endDate">
                              <input size="16" type="text" value="" class="form-control"><span class="input-group-addon btn btn-default"><i class="icon-th s7-date"></i></span>
                            </div>
                          </div>
                        </div>
                    </section>
 
                    <hr>-->

                <!-- commented because of lack of clarity
                   <div class="panel-heading">
                      <h5>Pin Frequency</h5>
                   </div>

                    <section class="pin-frequency row">
                      <div class="form-group col-sm-5 col-sm-offset-1">
                        <div class="col-sm-6">
                          <div class="am-radio">
                            <input type="radio" checked="" name="rad1" id="rad1">
                            <label for="rad1">Daily</label>
                          </div>
                          <div class="am-radio">
                            <input type="radio" checked="" name="rad1" id="rad2">
                            <label for="rad2">Weekly</label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <div class="col-sm-6">
                          <div class="am-radio">
                            <input type="radio" checked="" name="rad1" id="rad1">
                            <label for="rad1">Quarterly</label>
                          </div>
                          <div class="am-radio">
                            <input type="radio" checked="" name="rad1" id="rad2">
                            <label for="rad2">Yearly</label>
                          </div>
                          <div class="am-radio">
                            <input type="radio" checked="" name="rad1" id="rad3">
                            <label for="rad3">Monthly</label>
                          </div>
                        </div>
                    </div>
                    </section>

                    <hr>-->

                    <div class="panel-heading">
                      <h5 class="col-sm-offset-3">Allow Emails</h5>
                   </div>

                    <section class="pin-email row">
                    <div class="form-group col-sm-8 col-sm-offset-3">
                      <label class="col-sm-3 control-label">Emails</label>
                      <div class="col-sm-6">
                        <div class="switch-button switch-button-xs">
                          <input type="checkbox" checked="" name="swt1" id="swt1" ng-model="req.global_emails"><span>
                            <label for="swt1"></label></span>
                        </div>
                        
                      </div>

                    <!--   <div class="form-group col-sm-10 col-sm-offset-2 text-center" style="padding-top:2%">
                          <button type="button" class="btn btn-default col-sm-2">Cancel</button>
                          <button type="button" class="btn btn-primary col-sm-2 col-sm-offset-1">Save</button>
                      </div> -->

                    </div>
                    </section>
                   <hr>
      <div class="panel-heading">
                      <h5 class="col-sm-offset-3">Allow Notification</h5>
                   </div>

                    <section class="pin-email row">
                    <div class="form-group col-sm-8 col-sm-offset-3">
                      <label class="col-sm-3 control-label">Notifications</label>
                      <div class="col-sm-6">
                        <div class="switch-button switch-button-xs">
                          <input type="checkbox" checked="" name="swt2" id="swt2" ng-model="req.global_notifications"><span>
                            <label for="swt2"></label></span>
                        </div>
                        
                      </div>

                      <div class="form-group col-sm-10 col-sm-offset-2 text-center" style="padding-top:2%">
                          <button type="button" class="btn btn-default col-sm-2" ng-click="reload()">Cancel</button>
                          <button type="button" class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="updateSettingsOnly()">Save</button>
                      </div>

                    </div>
                    </section>

                  </form>
                </div>
            </div>
</div>
