<!--     <div ng-controller="LoginCtrl" ng-cloak>
    
      <ng-include src="getPartial()"></ng-include> -->
    

<div class="am-content tags-page">
        <div class="page-head">
          <div class="page-title col-xs-4">
            <h3>Tags</h3> 
          </div>
          <div class="row top-btn">
            <button class="btn btn-primary col-xs-3 col-xs-offset-5" data-toggle="modal" data-target="#addTagsModal"  data-backdrop="static" data-keyboard="false" >Add Tag</button>

            <button class="btn btn-primary col-xs-3" data-toggle="modal" data-target="#import"  data-backdrop="static" data-keyboard="false" style="margin-left:1.5%; width:11%" >Import from CSV</button>
          </div>
        </div>


            
<!--Model for import -->
<div id="import" class="modal fade" role="dialog">
  <div class="modal-dialog margin-top-100 login-modal-content">
    <form name="upload" class="form" data-ng-submit="addFile()">

    <div class="modal-content">

      <div class="modal-header col-md-12">
        <h5 class="col-xs-8" style="font-size: 1.2em"><strong>Import</strong></h5>      
        <button type="button" class="close col-xs-2" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body overflow-hidden col-md-8 col-md-offset-4"> 
        <p class="align-center">Please Import CSV file only</p>       
        <div class="col-sm-5 fileUpload btn btn-primary ">
          <!-- new custom file button  -->
            <span>Import from CSV</span>        
            <input type="file" id="upload" name="file" multiple style="max-width: 100%;" accept=".csv" onchange="angular.element(this).scope().uploadedFile(this)" class="upload" />
            <br/>
        </div> 
      </div>

      <div class="modal-footer"> 
        <div class="form-group text-center">
            <button type="button" class="btn orange-bg-color white" data-dismiss="modal">Close</button>
           <!--  <input type="submit" class="btn orange-bg-color white" value="Upload" ng-click="uploadFiles($files)"> -->
            <button type="submit"  class="btn orange-bg-color white">Upload </button>
        </div>      
       
      </div>
    </div>
    </form>
  </div>
</div>
<!-- Model for import-->      

        
        <div class="panel panel-default">
          <div class="panel-body">
            <!--Responsive table-->
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr class="row">
                        <th class="col-sm-2">Sr. No</th>
                        <th class="col-sm-4">Tag</th>
                        <th class="col-sm-4">Description</th>
                        <th class="col-sm-2">Actions</th>
                        
                      </tr>
                    </thead>
                    <tbody class="no-border-x">

                     <tr class="row" ng-repeat="tag in allTags track by $index">
                     <!-- normal mode -->
                        <td class="col-sm-2" ng-hide="editMode">{{$index + 1}}</td>
                        <td class="col-sm-4" ng-hide="editMode">{{tag.tagTitle ? tag.tagTitle :'' | capitalize}}</td>
                        <td class="col-sm-4" ng-hide="editMode" style="word-wrap: break-word;">{{tag.tagDescription ? tag.tagDescription : '' | capitalize}}</td>

                         <td class="col-sm-1" ng-click="editMode = true" ng-hide="editMode">
                          <button class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-pen" style="color:#fff"></span>
                          </button>
                        </td>

                        <td class="col-sm-1" ng-click="deleteTag(tag.id)" ng-hide="editMode">
                          <button class="btn btn-primary" style="border-radius:3px; padding:2%">
                            <span class="icon s7-trash" style="color:#fff; font-size:16px;"></span>
                          </button>
                        </td>

                       
                      <!-- normal mode -->  

                      <!-- edit mode -->
                      <form name="editTag">
                        <td class="col-sm-2" ng-show="editMode">{{$index + 1}}</td>

                        <td class="col-sm-4" ng-show="editMode">
                          <input type="text" id="titleUpdate" class="form-control" no-special-char ng-model="tag.tagTitle">
                        </td>

                        <td class="col-sm-4" ng-show="editMode">
                          <input type="text" id="descUpdate" class="form-control" no-special-char ng-model="tag.tagDescription">
                        </td>

                        <td class="col-sm-1"  ng-show="editMode">
                          <button id="updateTagBtn" ng-click="updateTag(tag)" class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-check"></span>
                          </button>
                        </td>

                        <td class="col-sm-1" ng-click="editMode = false" ng-show="editMode">
                          <button class="btn btn-primary" style="border-radius:3px;">
                            <span class="icon s7-close"></span>
                          </button> 
                        </td>
                      </form>
                      <!-- edit mode -->
                      </tr>

                    </tbody>
                  </table>
                </div>
          </div>
        </div>
</div>

<!-- Modal -->
<div id="addTagsModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Add Tag <button type="button" ng-click="resetModal()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="icon s7-close"></i></button></h4>
          </div>


          <div class="modal-body">
                                <!--<div class="text-center">
                                  <div class="i-circle text-primary"><i class="icon s7-check"></i></div>
                                  <h4>Awesome!</h4>
                                  <p>Changes has been saved successfully!</p>
                                </div>-->
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" id="addTagsForm" name="addTagsForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="tagTitle" class="col-sm-3 control-label sub-title">Tag Title <span class="errorSpan" ng-show="addTagsForm.tagTitle.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <input id="tagTitle" type="text" no-special-char required="" name="tagTitle" class="form-control" ng-model="register.tagTitle">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tagDescription" class="col-sm-3 control-label sub-title">Description <span class="errorSpan" ng-show="addTagsForm.tagDescription.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <textarea id="tagDescription" type="text" required="" no-special-char name="tagDescription" class="form-control" ng-model="register.tagDescription"></textarea> 
                                </div>
                            </div>

                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer">
              <button type="button" ng-click="resetModal()" data-dismiss="modal" class="close-btn btn btn-default col-sm-2 col-sm-offset-4">Back</button>
              <button type="button" data-dismiss="modal" class="save-btn btn btn-primary col-sm-2" ng-disabled="addTagsForm.$invalid" ng-click="addTag()">Save</button>
          </div>
      </div>
  </div>
</div>
<!-- Modal -->

<!-- 
<script type="text/javascript">
  
var close = $('.close-btn'),
    save = $('.save-btn');

close.click(function() {
    save.attr('disabled', 'disabled' );

    $('#addTagsForm').removeClass('ng-valid ng-valid-required').addClass('in-form ng-invalid ng-invalid-required ng-pristine')

    $('#tagTitle').removeClass('ng-not-empty ng-valid ng-valid-required').addClass(' ng-empty ng-invalid ng-invalid-required title-class');

    $('#tagDescription').removeClass('ng-not-empty ng-valid ng-valid-required').addClass('ng-empty ng-invalid ng-invalid-required desc-class');
});
</script> -->

<!--ng-dirty ng-valid-parse ng-invalid ng-invalid-required
ng-dirty ng-valid-parse ng-touched ng-not-empty ng-valid ng-valid-required

ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required 
form -> ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched





before::::::::::::::::::::
form:  form-horizontal ng-pristine ng-invalid ng-invalid-required
title: form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required
desc:  form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required

after back::::::::::::::::
form:  form-horizontal ng-dirty ng-valid-parse ng-valid ng-valid-required
title: form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched
desc:  form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched -->