<div class="row addCompanyPage">
		<div class="col-md-12">
			<div class="block-flat">
				  <div class="row header">							
					 <h3 class="col-sm-10">Add company details</h3>
				  </div>

					<div class="content">
						<form class="form-horizontal group-border-dashed" name="addCompanyForm" style="border-radius: 0px;">

              <div class="form-group">
                <label class="col-sm-3 control-label">Company name <span class="errorSpan" ng-show="addCompanyForm.company_name.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input type="text" class="form-control" name="company_name" ng-model="register.com_name" required="">
                </div>

              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Company website <span class="errorSpan" ng-show="addCompanyForm.website.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input type="text" class="form-control" name="website" ng-model="register.com_website" required="">
                </div>

              </div>
              

              <div class="form-group">
                <label class="col-sm-3 control-label">Company Location <span class="errorSpan" ng-show="addCompanyForm.location.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input type="text" class="form-control" name="location" ng-model="register.location" required="">
                </div>

              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Company Logo <span class="errorSpan" ng-show="addCompanyForm.company_logo.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input type="text" class="form-control" name="company_logo" ng-model="register.com_logo" required="">
                                  
                  <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#edit-profile">Upload a picture</button> -->                  

                </div>

              </div>

            

              <div class="form-group">
                <label class="col-sm-3 control-label">Domain names <span class="errorSpan" ng-show="addCompanyForm.com_domains.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input class="form-control" id="dom" type="text" name="com_domains" ng-model="register.com_domains_list" />
                </div>

              </div>
              
<!-- 
              <div class="form-group">
                <label class="col-sm-3 control-label">License key <span class="errorSpan" ng-show="addCompanyForm.com_license.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input class="form-control" id="lic" type="text" name="com_license" ng-model="register.license_key" />
                </div>

              </div> -->


              <div class="form-group">
                <label class="col-sm-3 control-label">Base URL <span class="errorSpan" ng-show="addCompanyForm.base_url.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="base_url" ng-model="register.com_baseurl" required="">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Contact Person <span class="errorSpan" ng-show="addCompanyForm.contact_person.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="contact_person" ng-model="register.contact_person" required="">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Contact Person's email <span class="errorSpan" ng-show="addCompanyForm.person_email.$error.required">*</span></label>
                <div class="col-sm-6">

                  <input type="email" class="form-control" required=""
                  name="person_email" ng-model="register.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">

                </div>

                <span class="errorSpan" ng-show="addCompanyForm.person_email.$error.pattern && addCompanyForm.person_email.$invalid">Please enter correct email format.</span>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Contact Person's alternate email <span class="errorSpan" ng-show="addCompanyForm.alt_email.$error.required">*</span></label>
                <div class="col-sm-6">

                  <input type="email" class="form-control" name="alt_email" ng-model="register.alt_email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">

                </div>

                <span class="errorSpan" ng-show="addCompanyForm.alt_email.$error.pattern && addCompanyForm.alt_email.$invalid">Please enter correct email format.</span>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Contact Person's Mobile Number <span class="errorSpan" ng-show="addCompanyForm.mob_no.$error.required">*</span></label>
                <div class="col-sm-6">

                  <input type="text" class="form-control" name="mob_no" ng-model="register.phone" ng-pattern="/^[0-9]{1,10}$/" maxlength="10" required="" >

                </div>
                
                <span class="errorSpan" ng-show="addCompanyForm.mob_no.$error.pattern">Please enter correct mobile format.</span>
              </div>            

             

              <div class="form-group" style="text-align:center;">
                <div class="row">                 
                  <button class="btn btn-default" ng-click="resetForm()">Cancel</button>
                  <button class="btn btn-primary" ng-disabled="addCompanyForm.$invalid" ng-click="saveCompany()">Save</button>
                </div>
              </div>

            </form>
					</div>
			</div>				
		</div>
</div>


<!-- Profile image upload modal -->       
                    <div id="edit-profile" class="modal fade" role="dialog">
                        <div class="modal-dialog margin-top-100 login-modal-content">
                          <form>
                            <div class="modal-content">

                              <div class="modal-header col-md-12">
                                <h5 class="col-xs-8" style="font-size: 1.2em"><strong>Upload your profile picture</strong></h5> 

                                <button type="button" class="close col-xs-2" ng-disabled="isUploading" data-dismiss="modal" ng-click="clear()">&times;</button>        
                              </div>

                              <div class="modal-body overflow-hidden col-md-12"> 
                                <div class="">
                                  <p class="text-center">Please upload an image less than 1MB</p>
                                </div>       

                                <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">

                                  <div class="row col-sm-offset-5">

                                    <button name="fileProfile" id="fileProfile" ng-click="profileImgUpload()" class="fileUpload align-center btn  col-md-3 col-sm-3" flow-btn type="file" style="margin-top:0!important;" singleFile ng-disabled="isUploading">Browse</button>

                                  </div>
                                     
                                  <div class="row">
                                      <div ng-repeat="image in uploader.flow.files track by $index" class="col-sm-4 col-sm-offset-2" style="margin-top:4%;">
                                          <!--<span class="text">Blob image displayed with "flow-img"</span>-->
                                          <img id="imgUpload" ng-show="!imgSizeRestrict" class="preview" flow-img="image"  height="200"/><br>
                                          <!--<span class="text">Base64 image displayed with "ng-src"</span> 
                                          <img class="preview" ng-src="{{imageStrings[$index]}}" width="130" height="130"/>-->
                                       </div>

                                       <div id="errText" class="err col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3" style="margin-top: 10%!important;">  

                                       </div>
                                  </div>

                                  <input type="text" id="profileImg" value="{{imageStrings}}" hidden="true"/>
                                  <input type="text" id="typeoffile" value="{{typeofFile}}" hidden="true"/>
                                  <input type="text" id="nameoffile" value="{{nameoffile}}" hidden="true"/>

                                </div>
                                             
                              </div>

                              <div class="modal-footer"> 
                                <div class="form-group text-center">
                                  <p ng-show="isUploading" class="errorSpan">Your file upload is in process,please do not refresh this page.</p>

                                  <button type="button" class="btn btn-primary white" data-dismiss="modal" ng-click="clear()" ng-disabled="isUploading">Close</button>

                                  <input type="submit" id="fileUploadBtn" class="btn btn-primary white" value="Upload" ng-disabled="isUploading" ng-click="saveProfile()" style="display:none;">
                                </div>      
                                     
                              </div>
                              
                            </div>    
                          </form>
                        </div>
                    </div>
<!-- Profile image upload modal -->  

<script type="text/javascript">
	    $(document).ready(function(){
      //initialize the javascript
      //Basic Instance
      $("#datatable").dataTable();
      
  });
</script>