 <div id="head-nav" class="topbar navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <div class="sidebar-logo">
          <div class="logo">
              <a href="#"></a>
          </div>
        </div>

        <ul class="nav navbar-nav horizontal">
            <li class="active"><a href="#">Dashboard</a></li>

            <li><a href="#about">Charts</a></li>

            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
              <ul class="dropdown-menu col-menu-2">
                <li class="col-sm-6 no-padding">
                  <ul>
                  <li class="dropdown-header"><i class="fa fa-group"></i>Users</li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li> 
                  </ul>
                </li>
                <li class="col-sm-6 no-padding">
                  <ul>
                  <li class="dropdown-header"><i class="fa fa-legal"></i>Sales</li>
                  <li><a href="#">New sale</a></li>
                  <li><a href="#">Register a product</a></li>
                  <li><a href="#">Register a client</a></li> 
                  <li><a href="#">Month sales</a></li>
                  <li><a href="#">Delivered orders</a></li>
                  </ul>
                </li>
              </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="images/avatar6-2.jpg" /><span>Jane Smith</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>


      </div><!--/.nav-collapse animate-collapse -->
    </div>
  </div>