  <div class="container-fluid" id="">


   <!-- TOP NAVBAR  TO BE SET AS HEADER-->
  <div id="head-nav" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <div class="sidebar-logo">
          <div class="logo">
              <a href="#"></a>
          </div>
        </div>
        <ul class="nav navbar-nav horizontal">
            <li ng-class="{'active': activetab=='/home'}"><a href="#">Home</a></li>
           
            <li ng-class="{'active': activetab=='/add-company'}"><a ui-sref="add-company" >Add Company</a></li>
           
          
          
        </ul>
        <ul class="nav navbar-nav navbar-right user-nav" style="margin-left:0;margin-right:2%;s">
          <li class="dropdown profile_menu">
            <a class="dropdown-toggle" data-toggle="dropdown"><span>{{user.username}}</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              
              <li><a ng-click="logOutUser()">Sign Out</a></li>
            </ul>
          </li>
        </ul>     
        
      </div><!--/.nav-collapse animate-collapse -->
    </div>
  </div>

  
<!-- MAIN MENU BAR END --> 


 
