<div class="row">
  <div class="row">
      <div class="col-sm-12">
        <div class="block-flat profile-info">
          <div class="row">
            <div class="col-sm-2">
              <div class="avatar">
                <img src="{{comDetails_original.com_logo ? comDetails_original.com_logo : 'images/avatars/avatar1.jpg'}}" alt="user-avatar" class="profile-avatar" />
              </div>

              

            </div>
            <div class="col-sm-8">
              <div class="personal">
                <h1 class="name">{{comDetails_original.com_name ? comDetails_original.com_name : 'Company Name' | capitalize}}

                <span class="pull-right btn-collection" style="margin-right:-24%">
                  <button class="btn btn-default btn-flat btn-rad" ng-click="logOutFromBase()" data-toggle="tooltip" data-placement="bottom" title="Force all users to logout"><i class="fa fa-power-off" aria-hidden="true"></i></button>

                  <button ng-show="comDetails_original.status =='Activate'" class="btn btn-warning btn-flat btn-rad" ng-click="deactivateCompanyBase()"><i class="fa fa-minus-square" aria-hidden="true"></i> Deactivate</button>
                </span>
                  
                </h1>
                <p class="description">Some details about the company which no one would really read.<p>

        <div class="activate-flow" ng-show="comDetails_original.status !='Activate'">
          <form class="form-horizontal" name="activateForm">
                 
            <div class="form-group">
              <label class="col-sm-3 control-label">License key <span class="errorSpan" ng-show="activateForm.license.$error.required">*</span></label>

              <div class="col-sm-6">
                <input class="form-control" id="lic" type="text" name="license" ng-model="activeFlow.license_key" required=""/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Activation key <span class="errorSpan" ng-show="activateForm.com_actKey.$error.required">*</span></label>

              <div class="col-sm-6">
                <input class="form-control" id="lic" type="text" name="com_actKey" ng-model="activeFlow.activation_key" required="" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Token <span class="errorSpan" ng-show="activateForm.token.$error.required">*</span></label>

              <div class="col-sm-6">
                <!-- <input class="form-control" required="" type="text" name="token" ng-model="activeFlow.token" /> -->
                <input class="form-control" readonly="" type="text" name="token" ng-model="activeFlow.token" value="{{activeFlow.token}}" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Date Of Activation <span class="errorSpan" ng-show="activateForm.doa.$error.required">*</span></label>

              <div class="col-sm-6">
                <div class="input-group">

                  <input  id="datetime" class="form-control" size="16"  type="text" name="doa" ng-model="activeFlow.doa" readonly="" /><span  class="input-group-addon btn btn-primary"><i class="fa fa-calendar"></i></span>

                </div> 
              </div>
            </div>



            <div class="form-group">
              <label class="col-sm-3 control-label">Date of Expiry <span class="errorSpan" ng-show="activateForm.dod.$error.required">*</span></label>

              <div class="col-sm-6">
                <div class="input-group">

                  <input id="datetime1" class="form-control" type="text" name="dod" ng-model="activeFlow.dod" readonly="" /><span  class="input-group-addon btn btn-primary"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group">
               <button ng-click="activateCompanyBase()" ng-disabled="activateForm.$invalid" class="btn btn-success btn-flat btn-rad"><i class="fa fa-check-square"></i> Activate</button>
            </div>
                 
          </form> 
        </div>             

                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">

        <div class="tab-container">

          <ul class="nav nav-tabs">
            <li class="active"><a showtab="" href="#info">Company Information</a></li>
            <li ng-click="login()"><a showtab="" href="#admins">Admin List</a></li>
          </ul>

          <div class="tab-content">
            <div id="info" class="tab-pane active cont">
              <table class="no-border no-strip information">
                <tbody class="no-border-x no-border-y">
                  <tr>
                    <span class="pull-right">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#verify-modal">Verify company</button>

                     <button class="btn btn-primary" data-toggle="modal" data-target="#editCompanyModal"><i class="fa fa-pencil"></i></button>
                    </span> 

                    <td style="width:20%;" class="category"><strong>CONTACT</strong></td>
                    <td>
                      <table class="no-border no-strip skills">
                        <tbody class="no-border-x no-border-y">
                          <tr>
                            <td style="width:20%;"><b>Company website</b></td>
                            <td>
                            <a href="{{comDetails_original.com_website ? comDetails_original.com_website : '#'}}" target="_blank">{{comDetails_original.com_website ? comDetails_original.com_website : 'Company Website'}}</a>
                            </td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Location</b></td>
                            <td>{{comDetails_original.location ? comDetails_original.location : 'Company Location'}}
                            </td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Domains</b></td>
                            <td>{{comDetails_original.com_domains_list ? comDetails_original.com_domains_list : 'Company Domains'}}</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Contact person's name</b></td>
                            <td>{{comDetails_original.contact_person ? comDetails_original.contact_person : 'Contact Person'}}</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>E-mail</b></td>
                            <td>{{comDetails_original.email ? comDetails_original.email : 'Email'}}</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Alternate E-mail</b></td>
                            <td>{{comDetails_original.alt_email ? comDetails_original.alt_email : 'Alternate Email'}}</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Mobile</b></td>
                            <td>{{comDetails_original.phone ? comDetails_original.phone : 'Phone'}}</td>
                          </tr>                          

                        </tbody>
                      </table>
                    </td>
                  </tr>
                  
                  <tr>
                    <td class="category"><strong>SUBSCRIPTION DETAILS</strong></td>
                    <td> 
                      <table class="no-border no-strip skills">
                        <tbody class="no-border-x no-border-y">
                         

                          <tr>
                            <td style="width:20%;"><b>License key</b></td>
                            <td>{{comDetails_original.license_key ? comDetails_original.license_key : 'License Key'}}</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Activation Key</b></td>
                            <td>{{comDetails_original.activation_key ? comDetails_original.activation_key : 'Activation Key'}}</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Token</b></td>
                            <td>{{comDetails_original.token ? comDetails_original.token : 'Token'}}</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Base URL</b></td>
                            <td>{{comDetails_original.com_baseurl ? comDetails_original.com_baseurl : 'Base URL'}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>

            <div id="admins" class="tab-pane cont">
              <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary pull-right" data-target="#add-admin" data-toggle="modal">Add Admin</button>
              </div>
            
              <h3 class="widget-title">Admin List</h3>

              <div class="user-statistics" ng-init="getCount()">
                <p>Active users : {{activeCount ? activeCount : '--'}}</p>
                <p>Deactive users : {{deactiveCount ? deactiveCount : '--'}}</p>
              </div>

              <div class="row friends-list">
               
                <div class="col-sm-6 col-md-4" ng-repeat="admin in adminData">
                  <div class="friend-widget admin-widget col-sm-12">
                    <img ng-src="{{admin.profile_image ? admin.profile_image : 'images/avatars/avatar1.jpg'}}" alt="Admin-img" />

                    <h4 class="ellipsis">{{admin.firstname ? admin.firstname : 'Firstname'}} {{admin.lastname ? admin.lastname : 'Lastname'}}</h4>
                    <p class="ellipsis" style="width:12em">{{admin.email ? admin.email : 'Email'}}</p>
                    <p class="ellipsis">{{admin.location ? admin.location : 'Location'}}</p>
                    
                    <div class="pull-right" style="margin-top: -15%; margin-right: 21%;">
                      <button class="btn btn-default" style="padding:4px" ng-show="!admin.enabled" ng-click="activateAdmin(admin.id)">Activate</button>

                      <button class="btn btn-default" style="padding:4px" ng-show="admin.enabled" ng-click="deactivateAdmin(admin.id)">Deactivate</button>
                    </div>

                  </div>
                </div>             
                 
              </div>
            </div>

          </div>
        </div>

      </div>    
    </div>
</div>




<!-- EDIT RATING MODAL -->
<div id="editCompanyModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Edit Company Details
              <button type="button cancel" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="fa fa-times"></i></button></h4>
          </div>


          <div class="modal-body">
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" name="editCompanyForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="company" class="col-sm-3 control-label sub-title">Company website <span class="errorSpan" ng-show="editCompanyForm.website.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="cWeb" type="text" name="website" required="" class="form-control" ng-model="comDetails_copy.com_website">
                                    <span class="errorSpan " ng-if="editCompanyForm.website.$invalid">Please enter correct format.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="location" class="col-sm-3 control-label sub-title">Company location <span class="errorSpan" ng-show="editCompanyForm.location.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rdesc" type="text" no-special-char name="location" required="" class="form-control" ng-model="comDetails_copy.location"/>
                                </div>
                            </div>


                            <div class="form-group">

                              <label class="col-sm-3 control-label">Domain names <span class="errorSpan" ng-show="editCompanyForm.com_domains.$error.required">*</span></label>

                              <div class="col-sm-6">

                                <!-- <input class="tags1" type="hidden" name="com_domains" ng-model="comDetails_copy.com_domains" value="{{comDetails_copy.location}}" /> -->

                                <input id="domains" type="text" class="form-control" name="com_domains" ng-model="comDetails_copy.com_domains_list" value="{{comDetails_copy.com_domains_list}}" />

                              </div>

                            </div>

                            <div class="form-group">

                                 <label for="name" class="col-sm-3 control-label sub-title">Contact person's name <span class="errorSpan" ng-show="editCompanyForm.name.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rval" type="text" required="" class="form-control" ng-model="comDetails_copy.contact_person" name="name" >
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label sub-title">Email <span class="errorSpan" ng-show="editCompanyForm.email.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rhex" type="text" required="" class="form-control" ng-model="comDetails_copy.email" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                </div>

                                <span class="errorSpan" ng-show="editCompanyForm.email.$error.pattern && editCompanyForm.email.$invalid">Please enter correct email format.</span>
                            </div>

                            <div class="form-group">
                                <label for="altEmail" class="col-sm-3 control-label sub-title">Alternate Email <span class="errorSpan" ng-show="editCompanyForm.altemail.$error.required">*</span></label>

                                <div class="col-sm-6">
                                  <input id="" type="text" required="" class="form-control" ng-model="comDetails_copy.alt_email" name="altemail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                </div>

                                <span class="errorSpan" ng-show="editCompanyForm.altemail.$error.pattern && editCompanyForm.altemail.$invalid">Please enter correct email format.</span>


                            </div>

                            <div class="form-group">
                                <label for="mobile" class="col-sm-3 control-label sub-title">Mobile number <span class="errorSpan" ng-show="editCompanyForm.mobile.$error.required">*</span></label>
                                <div class="col-sm-6">
                                
                                  <input id="" type="text" required="" class="form-control" ng-model="comDetails_copy.phone" name="mobile" ng-pattern="/^[0-9]{1,10}$/" maxlength="10">
                                </div>

                                <span class="errorSpan" ng-show="editCompanyForm.mobile.$error.pattern">Please enter correct mobile format.</span>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label sub-title">Base url <span class="errorSpan" ng-show="editCompanyForm.baseurl.$error.required">*</span></label>
                                <div class="col-sm-6">
                                  <input id="rdesc" type="text" name="baseurl" required="" class="form-control" ng-model="comDetails_copy.com_baseurl"/>
                                </div>
                            </div>
                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer" style="text-align:center">
              <button type="button cancel" data-dismiss="modal" class="btn btn-default">Back</button>
              <button type="button" ng-click="updateCompany(comDetails_copy);updateCompanyDomain(comDetails_copy.com_id,comDetails_copy.com_domains_list)" data-dismiss="modal" class="btn btn-primary" ng-disabled="editCompanyForm.$invalid">Save</button>
          </div>
      </div>
  </div>
</div>



<!-- ADD ADMIN MODAL -->
<div class="modal fade" id="add-admin" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header  group-border-dashed">
        <h4>Add Admin
            <button type="button cancel" ng-click="resetModal1()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="fa fa-times"></i></button>
        </h4>
        
      </div>

      <div class="modal-body">
        <form class="form-horizontal" name="addAdminForm" style="border-radius: 0px;">

              
              <div class="form-group">
                <label class="col-sm-3 control-label">First name <span class="errorSpan" ng-show="addAdminForm.firstname.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input type="text" required="" class="form-control" name="firstname" ng-model="register.firstname">
                </div>
              </div>   

              <div class="form-group">
                <label class="col-sm-3 control-label">Last name <span class="errorSpan" ng-show="addAdminForm.lastname.$error.required">*</span></label>
                <div class="col-sm-6">
                  <input type="text" required="" class="form-control" name="lastname" ng-model="register.lastname">
                </div>
              </div>

                      

              <div class="form-group">
                <label class="col-sm-3 control-label">Email id <span class="errorSpan" ng-show="addAdminForm.email.$error.pattern && addAdminForm.email.$invalid">*</span></label>

                <div class="col-sm-6">
                  <input type="email" required="" class="form-control" name="email" ng-model="register.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                </div>

                <span class="errorSpan" ng-show="addAdminForm.email.$error.pattern && addAdminForm.email.$invalid">Please enter correct email format.</span>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Username <span class="errorSpan" ng-show="addAdminForm.username.$error.required">*</span></label>

                <div class="col-sm-6">
                  <input type="text" required="true" class="form-control" name="username" ng-model="register.email" readonly="">
                </div>
              </div>

             

        </form>
      </div>

      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-default btn-flat" ng-click="resetModal1()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-disabled="addAdminForm.$invalid" ng-click="addAdmin(register)">Save</button>
      </div>

    </div>
  </div>
</div>



<!-- VERIFY MODAL -->
<div class="modal fade" id="verify-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header  group-border-dashed">
        <h4>Verify Subscription
            <button type="button cancel" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="fa fa-times"></i></button>
        </h4>
        
      </div>

      <div class="modal-body text-center">
        <form class="form-horizontal" name="" style="border-radius: 0px;">

        <button type="button" class="btn btn-primary btn-flat" ng-click="verify()" data-dismiss="modal">Verify Details</button>

        <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="verifyAndCopy()">Verify and copy</button>

             

        </form>
      </div>
    </div>
  </div>
</div>





<script type="text/javascript">
	    $(document).ready(function(){
      //initialize the javascript
      //Basic Instance
      $("#datatable").dataTable();
  });

$(function() {
$( ".tab-container" ).tabs();
});

 $('[data-toggle="tooltip"]').tooltip(); 
</script>