<div class="col-ms-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" >
<!--<img src="media/error.png" alt="error image"/>-->
<div class="error-img">
    
</div>

<script type="text/javascript">
$(function(){
  $('.error-img').css({ height: $(window).height() });
  $(window).resize(function(){
    $('.error-img').css({ height: $(window).height() });
  });
});
</script>
</div>