<div class="row home-page">
  
<div class="col-sm-12">  
<div class="block-flat">
  <div class="page-title col-sm-12" >
    <h4 class="col-sm-6">Users registered with PIN </h4> 

     <div class="input-group pull-right col-sm-6">
        <input type="text" class="form-control" ng-model="search">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
     </div>    
       
  </div>
  <hr/>


  <div class="row" style="padding-top:3%">
      
      <div class="col-md-4 col-sm-6" ng-repeat="comp in allCompList | filter:search track by $index" style="margin-bottom:3%;">
        <div class="fd-tile detail clean tile-prusia col-md-12 col-sm-12">
          <div class="content col-md-9 col-sm-9">
            <h4 class="text-left ellipsis">{{comp.com_name ? comp.com_name : 'Company Name' | capitalize}}</h4>
            <p class="ellipsis">Location : {{comp.location ? comp.location : 'Company location'}}</p>
            <p class="ellipsis">License Key : {{comp.license_key ? comp.license_key : 'License Key'}}</p>
            <p class="ellipsis">Status : {{comp.status ? comp.status : 'Unknown Status'}}</p>
          </div>
          
          <div class="icon logo-section col-md-3 col-sm-3" style="background-image:url('{{comp.com_logo ? comp.com_logo : '../images/avatars/avatar2.jpg'}}')"></div>

          <a class="details" ng-click="showCompanyDetails(comp, comp.com_id)">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
      </div>

    
  </div>

</div>  
</div>  
</div>
    
  