

<div  class="login-container">

  <div class="">
    <div class="block-flat">
      <div class="header">              
        <h3 class="text-center"><img class="logo-img" src="images/logo.png" alt="logo"/></h3>
      </div>
      <div>
        <form style="margin-bottom: 0px !important;" class="form-horizontal col-md-6 col-md-offset-3">
          <div class="content">
            <h4 class="title">Login Access</h4>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" placeholder="Username" id="username" class="form-control" ng-model="userName">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" placeholder="Password" id="password" class="form-control" ng-model="passWord">
                  </div>
                </div>
              </div>
              
          </div>
          <div class="foot">
            <!-- <button class="btn btn-default" data-dismiss="modal" type="button">Register</button> -->
            <button class="btn btn-primary" ng-click="login()">Log me in</button>
          </div>
        </form>
      </div>
    </div>
   
  </div> 
  
</div>

  <script type="text/javascript">
    $(function(){
      $("#cl-wrapper").css({opacity:1,'margin-left':0});
    });
  </script>

