  <div class="tab-container">

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#info">Company Information</a></li>
            <li><a data-toggle="tab" href="#admins">Admin List</a></li>
          </ul>

          <div class="tab-content">
            <div id="info" class="tab-pane cont">
              <table class="no-border no-strip information">
                <tbody class="no-border-x no-border-y">
                  <tr>
                    <td style="width:20%;" class="category"><strong>CONTACT</strong></td>
                    <td>
                      <table class="no-border no-strip skills">
                        <tbody class="no-border-x no-border-y">
                          <tr>
                            <td style="width:20%;"><b>Company website</b></td><td>www.mywebsite.com</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Location</b></td><td>Montreal, Canada</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Domains</b></td><td>leftrightmind.com, gmail.com, mdrocks.com</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Contact person's name</b></td><td>Angelina Jolie</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>E-mail</b></td><td>johnny@example.com</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Alternate E-mail</b></td><td>johnny@example.com</td>
                          </tr>

                          <tr>
                            <td style="width:20%;"><b>Mobile</b></td><td>(999) 999-9999</td>
                          </tr>                          

                        </tbody>
                      </table>
                    </td>
                  </tr>
                  
                  <tr>
                    <td class="category"><strong>SUBSCRIPTION DETAILS</strong></td>
                    <td> 
                      <table class="no-border no-strip skills">
                        <tbody class="no-border-x no-border-y">
                          

                          <tr>
                            <td style="width:20%;"><b>Activation key</b></td><td>Angelina_Jolie_Rocks@!@</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Activation date</b></td><td>11 July,2016</td>
                          </tr>


                          <tr>
                            <td style="width:20%;"><b>Base URL</b></td><td>Base URL</td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>

            <div id="admins" class="tab-pane active cont">
              <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary pull-right" data-target="#add-admin" data-toggle="modal">Add Admin</button>
              </div>
            
              <h3 class="widget-title">Admin List</h3>
              <div class="row friends-list">
               
                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget admin-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="friend-widget">
                    <img src="images/avatars/avatar1.jpg" alt="friend-img" />
                    <h4>Andrea Smith</h4>
                    <p>mrunmayi.davare@leftrightmind.com</p>
                    <div class="">
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-check" style="font-size:1em"></i>
                      </button>
                      <button class="btn btn-default" style="padding:4px">
                        <i class="fa fa-times" style="font-size:1em"></i>
                      </button>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>

          </div>
        </div>