<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="row header">							
							<h3 class="col-sm-10">Tags Data</h3>

							<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addTagsModal" style="margin-right:1.5%;">Add tags</button>
						</div>
						<div class="content">
							<div class="table-responsive">
								<table class="table table-bordered" id="datatable" >
									<thead>
										<tr>
											<th>Sr. no.</th>
											<th>Title</th>
											<th>Description</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>

										<tr class="odd gradeX">
											<td>1</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%"><i class="fa fa-times"></i></button>
											</td>
										</tr>

										<tr class="odd gradeX">
											<td>2</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%" data-toggle="modal" data-target="#editObjModal"><i class="fa fa-times"></i></button>
											</td>
										</tr>

										<tr class="odd gradeX">
											<td>3</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%"><i class="fa fa-times"></i></button>
											</td>
										</tr>

										<tr class="odd gradeX">
											<td>4</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%"><i class="fa fa-times"></i></button>
											</td>
										</tr>

										<tr class="odd gradeX">
											<td>5</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%"><i class="fa fa-times"></i></button>
											</td>
										</tr>

										<tr class="odd gradeX">
											<td>6</td>
											<td>Some title 1</td>
											<td>Some rather funny description of the tag which should not be confused with price tag. A Macbook to very expensive.</td>
											<td>
												<button class="btn btn-primary" style="padding:2%" data-toggle="modal" data-target="#editTagsModal"><i class="fa fa-pencil"></i></button>
												<button class="btn btn-primary pull-right" style="padding:2%"><i class="fa fa-times"></i></button>
											</td>
										</tr>

									</tbody>
								</table>							
							</div>
						</div>
					</div>				
				</div>
</div>

<div id="addTagsModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Add Tag 
              <button type="button cancel" ng-click="resetModal()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="fa fa-times"></i></button></h4>
          </div>


          <div class="modal-body">
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" id="addTagsForm" name="addTagsForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="tagTitle" class="col-sm-3 control-label sub-title">Tag Title <span class="errorSpan" ng-show="addTagsForm.tagTitle.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <input id="tagTitle" type="text" no-special-char required="" name="tagTitle" class="form-control" ng-model="register.tagTitle">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tagDescription" class="col-sm-3 control-label sub-title">Description <span class="errorSpan" ng-show="addTagsForm.tagDescription.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <textarea id="tagDescription" type="text" required="" no-special-char name="tagDescription" class="form-control" ng-model="register.tagDescription"></textarea> 
                                </div>
                            </div>

                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer" style="text-align:center">
              <button type="button" ng-click="resetModal()" data-dismiss="modal" class="close-btn btn btn-default">Back</button>
              <button type="button" data-dismiss="modal" class="save-btn btn btn-primary" ng-disabled="addTagsForm.$invalid" ng-click="addTag()">Save</button>
          </div>
      </div>
  </div>
</div>

<div id="editTagsModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog full-width">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Edit Tag 
              <button type="button cancel" ng-click="resetModal()" data-dismiss="modal" aria-hidden="true" class="close pull-right"><i class="fa fa-times"></i></button></h4>
          </div>


          <div class="modal-body">
              <div class="content row">
                <div class="panel-default">
                    <div class="panel-body">
                        <form role="form" id="editTagsForm" name="editTagsForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="tagTitle" class="col-sm-3 control-label sub-title">Tag Title <span class="errorSpan" ng-show="editTagsForm.tagTitle.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <input id="tagTitle" type="text" no-special-char required="" name="tagTitle" class="form-control" ng-model="register.tagTitle">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tagDescription" class="col-sm-3 control-label sub-title">Description <span class="errorSpan" ng-show="editTagsForm.tagDescription.$error.required">*</span> </label>
                                <div class="col-sm-6">
                                  <textarea id="tagDescription" type="text" required="" no-special-char name="tagDescription" class="form-control" ng-model="register.tagDescription"></textarea> 
                                </div>
                            </div>

                         </form>
                    </div>
                  </div>                      
                </div>
          </div>
          <div class="modal-footer" style="text-align:center">
              <button type="button" ng-click="resetModal()" data-dismiss="modal" class="close-btn btn btn-default">Back</button>
              <button type="button" data-dismiss="modal" class="save-btn btn btn-primary" ng-disabled="editTagsForm.$invalid" ng-click="addTag()">Save</button>
          </div>
      </div>
  </div>
</div>



<script type="text/javascript">
	    $(document).ready(function(){
      //initialize the javascript
      //Basic Instance
      $("#datatable").dataTable();
  });
</script>